
.Accordion {	
	overflow: hidden;
}
.AccordionPanel {
	
}

.AccordionPanelTab {
	background-color: #00a8ea;	
	margin: 0px;
	
	cursor: pointer;
	-moz-user-select: none;
	color: #fff;
	-khtml-user-select: none; font-size:14px; font-family:'open_sansbold'; text-transform:uppercase;border-bottom:1px solid #fff; padding:12px 15px 12px 17px
}


.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

.AccordionPanelOpen .AccordionPanelTab {
	background-color: #00a8ea;
	color: #fff;
}
.AccordionPanelTabHover {
	color: #fff;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #fff;
}
.AccordionFocused .AccordionPanelTab {
	background-color: #00a8ea;
}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #00a8ea;
}

.AccordionPanelContent ul { background:#fff}
.AccordionPanelContent ul li {  border-bottom:1px solid #e4e4e4; padding:12px 15px 12px 17px }
.AccordionPanelContent ul li a { color:#999; font-size:14px; font-family:'open_sansbold'; text-transform:uppercase; padding-left:12px; background:url(../images/hline-arrow.gif) no-repeat left 9px; }
.AccordionPanelContent ul li a:hover { color:#000}


/* Rules for Printing */

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}