﻿@{
    ViewBag.Title = "ADD NEW PAGE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Content Page Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-Edit"></i>
                    Page Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Page  Key</label>
                        <div class="controls">
                            <input type="text" name="cp_key" data-rule-required="true" placeholder="page key" class="input-xlarge" value="@Request["cp_key"]">
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="cp_pagetitle" placeholder="page title" class="input-xlarge" value="@Request["cp_pagetitle"]">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Content</label>
                        <div class="controls">
                            <textarea name="cp_pagecontent" class='ckeditor span12' rows="2" data-rule-required="true"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="cp_pagemeta" class="input-xlarge" rows="2">@Request["cp_pagemeta"]</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="cp_pagemetadescription" class="input-xlarge" rows="4">@Request["cp_pagemetadescription"]</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="cp_isdisplay" value="true" class='icheck-me' data-skin="square" data-color="blue" checked>
                                    <label class='inline' for="c6">Is Display</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        <a href="~/Admin/PageContent" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PageContent">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Pages
                    </button>
                </a>
            </li>
        </ul>
    </div>
}