﻿@model List<B101_1.Models.pagecontentModel>

@{
    ViewBag.Title = "PAGE CONTENT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Content Page Management
            
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Pages List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Url</th>
                            <th style="text-align:center">Is Display ?</th>
                            <th style="text-align:center">Page Status</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.pagecontentModel mdl in @Model)
                        {
                            <tr>
                                <td>@mdl.cp_key</td>
                                <td>
                                    @{
                                        string u = "http://ec2-54-191-21-5.us-west-2.compute.amazonaws.com/b101" + @mdl.cp_url;
                                        //string u = "http://localhost:10874" + @mdl.cp_url;
                                        <a href="@u" target="_blank"> @u </a>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (mdl.cp_isdisplay == true)
                                    {
                                        <label class="label btn-success">TRUE</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-danger">FALSE</label>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (mdl.cp_isdefault)
                                    {
                                        <label class="label btn-warning">DEFAULT</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-warning">DYNAMIC</label>
                                    }
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Admin/PageContent/Edit/@mdl.cp_key" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    @if (!mdl.cp_isdefault)
                                    {
                                        <a href="~/Admin/PageContent/Delete/@mdl.cp_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PageContent/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Page
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
