﻿@model List<B101_1.ViewModels.PrpHomeViewModel>
@{
    ViewBag.Title = "SearchHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <!--facility nav being-->
    <div id="facility">
        <ul>
            <li><a href="#">Designs</a></li>
            <li><a href="#">Basins</a></li>
            <li><a href="#">Vanities</a></li>
            <li><a href="#">Baths and Spas</a></li>
            <li><a href="#">Toilets</a></li>
            <li><a href="#">Acessories</a></li>
            <li><a href="#">Lighting</a></li>
            <li><a href="#">Tiles and Flooring</a></li>
            <li><a href="#">Wallpaper</a></li>
        </ul>
    </div>
    <!--facility nav end-->
</div>
<div class="grid_3">
    <div class="left-clmn">
        <h4>BUILDER PROFILES</h4>
        @Html.Partial("~/Views/Shared/_add.cshtml")
    </div>
</div>
<div class="grid_6">
    <div class="text-right m-b-15"><a href="#" class="font-11">View Sold Properties</a></div>
    <div class="paging-top">
        <div class="fl show-page">Showing @MySession.Current.searchresult.ps-@MySession.Current.searchresult.pe  of @MySession.Current.searchresult.TotalRecord Total Results</div>
        <div class="pages fr">
            <div id="pager">
            </div>
            <!--<span class="nextprev">Previous</span>-->
            @*<span class="current">1</span>
            <a href="" title="Go to page 2">2</a>
            <a href="" title="Go to page 3">3</a>
            <a href="" title="Go to page 4">4</a>
            <a href="/page2" class="nextprev" title="Go to Next Page">next </a>*@
        </div>
    </div>
    <ul class="propery-list-page">
        @foreach (B101_1.ViewModels.PrpHomeViewModel prpty in @Model)
        {
            <li>
                <div class="clmn-270 m-r-30">
                    <h1 class="property_name">@prpty.hm_name <span>By : @prpty.hmbuilder</span></h1>
                    <div class="home-img"><img src="~/Content/images/property/@prpty.mainimage" alt="" /></div>
                </div>
                <div class="clmn-270">
                    <div class="price">...FR @prpty.hm_pricefrm</div>
                    <div class="builder-logo text-right">
                        <a href="#">
                            <img src="~/Content/images/builder/@prpty.hmbuilderlogo" alt="" style="width:156px;height:75px;" />
                        </a>
                    </div>
                    <div class="appartment clearfix">
                        <ul>
                            <li><img src="~/Content/images/bedroom-icon.jpg" alt="" /> @prpty.hm_bed</li>
                            <li><img src="~/Content/images/bath-icon.jpg" alt="" /> @prpty.hm_bath</li>
                            @*<li><img src="~/Content/images/garage-icon.jpg" alt="" /> @prpty.hm_bath</li>*@
                        </ul>
                    </div>
                    <p>
                        @prpty.hm_shortdescription
                    </p>
                    @*<div class="video"><img src="images/video-icon.png" alt="" /> <a href="#" class="font-11">Video</a></div>*@
                    <div class="fr">
                        <a href="#" class="save-btn">Save</a>&nbsp;&nbsp;
                        <a href="~/Search/ViewHome/@prpty.hm_id" class="green-btn">Details</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="grid_3">
    @Html.Partial("~/Views/Shared/_Search.cshtml")
</div>

<form id="form_paging" name="form_paging" method="post" action="~/Search/SearchHome">
    <input type="hidden" name="pagenumber" id="pgnbr" />
    <input type="hidden" name="ispaging" value="true" />
</form>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#pager").pagination({
                items: @MySession.Current.searchresult.TotalRecord,
                itemsOnPage:@MySession.Current.searchresult.RecordperPage,
                cssStyle: 'light-theme',
                onPageClick: PageClick,
                currentPage: @MySession.Current.searchresult.CurrentPage,
            });
        });

        function PageClick(pageNumber, event)
        {
            $("#pgnbr").val(pageNumber);
            $("#form_paging").submit();
        }
    </script>
}