﻿@model B101_1.ViewModels.PrpHomeViewModel
@{
    ViewBag.Title = "VIEW HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <!--facility nav being-->
    @*<div id="facility">
            <ul>
                <li><a href="#">Designs</a></li>
                <li><a href="#">Basins</a></li>
                <li><a href="#">Vanities</a></li>
                <li><a href="#">Baths and Spas</a></li>
                <li><a href="#">Toilets</a></li>
                <li><a href="#">Acessories</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Tiles and Flooring</a></li>
                <li><a href="#">Wallpaper</a></li>
            </ul>
        </div>*@
    <!--facility nav end-->
</div>
<!--Middle Left being-->
<div class="grid_9">
    <!-- Start photosgallery-vertical -->
    <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    @foreach(B101_1.ViewModels.ImageViewModel img in @Model.galleryimages)
                    {
                        <li>
                            <a href="#" rel="nofollow" title="[link title]">
                                <img src="~/Content/images/property/@img.ImagePath" alt="[Alternative text]" />
                            </a>
                        </li>   
                    }
                </ul>
            </div>
            <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
            <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
        </div>
        <div class="sliderkit-panels">
            @foreach (B101_1.ViewModels.ImageViewModel img in @Model.galleryimages)
            {
                <div class="sliderkit-panel">
                    <img src="~/Content/images/property/@img.ImagePath" alt="[Alternative text]"/>
                </div>
            }
        </div>
    </div>
    <!-- End photosgallery-vertical -->
    <div class="detail-page-main">
        <div class="grid_6 detail-page">
            <h3>@Model.hm_name</h3>
            @Html.Raw(Model.hm_description)
        </div>
        <div class="grid_3 property-summery-main fr">
            <div class="property-summery m-b-26">
                <h5>Property Summary</h5>
                <ul>
                    <li>
                        <div class="area">House Area</div><div class="size text-right">@Model.hm_area_sm SQ.M.</div>
                    </li>
                    <li>
                        <div class="area">&nbsp;</div><div class="size text-right">@Model.hm_area_s SQ.</div>
                    </li>
                    <li>
                        <div class="area">Bedrooms</div><div class="size text-right">@Model.hm_bed</div>
                    </li>
                    <li>
                        <div class="area">Bathrooms</div><div class="size text-right">@Model.hm_bath</div>
                    </li>
                    <li>
                        <div class="area">Frontage</div><div class="size text-right">@Model.hm_frontage m</div>
                    </li>
                </ul>
                <h5>Features</h5>
                <ul>
                    @foreach(string ftr in new B101_1.DataBaseRepo.FeatureRepo().ListPropFeature(@Model.hm_id))
                    {
                        <li>@ftr</li>
                    }
                </ul>
            </div>
            <div><img src="~/Content/images/home-location-img.jpg" alt="" data-pin-no-hover="true" /></div>
        </div>
    </div>
</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    <div class="right-menu m-b-26">
        <ul class="menu">
            <li><a href="#">About this home</a></li>
            <li><a href="#">floor plans</a></li>
            <li><a href="#">specifications</a></li>
            <li><a href="#">Enquire about this home</a></li>
            <li class="social">
                <div class="fl">SHARE</div> <a href="#" target="_blank">
                <img src="~/Content/images/facebook.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/pintrest.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/google-plus.png" alt="" /></a>
            </li>
        </ul>
    </div>
    <div><img src="~/Content/images/property/@Model.floreplanimage" alt="" /></div>
</div>
<!--Middle right end-->
@section scripts
{
    <script type="text/javascript" async data-pin-hover="true" src="http://assets.pinterest.com/js/pinit.js"></script>    
}