﻿@model B101_1.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Product Item Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Edit Product Item
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Product Item Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="span12">
                        <input type="hidden" value="@Model.Id" name="Id" />
                        <div class="control-group">
                            <label for="textfield" class="control-label">Select Catagery</label>
                            <div class="controls">
                                <div class="input-large">
                                    <select name="Catagery" id="bbb" data-rule-required="true" class='chosen-select'>
                                        <option></option>
                                        @foreach (B101_1.ViewModels.DataBindModel ctgry in new B101_1.DataBaseRepo.CatageryRepo().BindCatagery())
                                        {
                                            <option value="@ctgry.datavalue" @(Model.CatId == ctgry.datavalue ? "selected" : "" )>@ctgry.datatext</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Product Name</label>
                            <div class="controls">
                                <input type="text" name="ProductName" data-rule-required="true" placeholder="Product name" class="input-large" value="@Model.ProductName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Product Price</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">$</span>
                                    <input type="text" name="Price" data-rule-required="true" data-rule-digit="true" placeholder="Price" class="input-small" value="@Model.Price">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Short Description</label>
                            <div class="controls">
                                <textarea name="ShortDescription" class="input-block-level" rows="3">@Model.ShortDescription</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Product Description</label>
                            <div class="controls">
                                <textarea name="Description" class='ckeditor span12' rows="5" class="ckeditor span6" data-rule-required="true">@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Default Image</label>
                            <div class="controls">
                                @*<input type="text" name="DIAlt" placeholder="alter text for default image" value="@Model.DIAlt" class="input-large">*@
                                @if (Model.DefaultImage == string.Empty)
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">
                                                  Select Image
                                                </span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/Content/images/products/@Model.DefaultImage" />
                                            <input type="hidden" name="DefaultImage" value="@Model.DefaultImage" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <a href="#" class="btn btn-inverse" name="rmvimg" id="@Model.DefaultImage#1"><i class="icon-trash"></i></a>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">
                                                   Change Image
                                                </span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Small Image</label>
                            <div class="controls">
                                @*<input type="text" name="img_altText" placeholder="alter text for small image" value="@Model.SIAlt" class="input-large">*@
                                @if (Model.SmallImage == string.Empty)
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">

                                            <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Select Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/Content/images/products/@Model.SmallImage" />
                                            <input type="hidden" name="SmallImage" value="@Model.SmallImage" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <a href="#" class="btn btn-inverse" name="rmvimg" id="@Model.SmallImage#2"><i class="icon-trash"></i></a>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Change Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Medium Image</label>
                            <div class="controls">
                                @*<input type="text" name="MIAlt" placeholder="alter text for medium image" value="@Model.MIAlt" class="input-large">*@
                                @if (Model.Midimage == string.Empty)
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Select Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/Content/images/products/@Model.Midimage" />
                                            <input type="hidden" name="Midimage" value="@Model.Midimage" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <a href="#" class="btn btn-inverse" name="rmvimg" id="@Model.Midimage#3"><i class="icon-trash"></i></a>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Change Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Large Image</label>
                            <div class="controls">
                                @*<input type="text" name="BIAlt" placeholder="alter text for large image" value="@Model.BIAlt" class="input-large">*@
                                @if (Model.BigImaage == string.Empty)
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Select Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            <img src="~/Content/images/products/@Model.BigImaage" />
                                            <input type="hidden" name="BigImaage" value="@Model.BigImaage" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <a href="#" name="rmvimg" class="btn btn-inverse" id="@Model.BigImaage#4"><i class="icon-trash"></i></a>
                                            <span class="btn btn-file btn-primary">
                                                <span class="fileupload-new">Change Image</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="files" multiple />
                                            </span>
                                            <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Status</label>
                            <div class="controls">
                                <div class="check-demo-col">
                                    <div class="check-line">
                                        <input type="checkbox" id="c6" name="Status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.Status == true ? "checked" : "" )>
                                        <label class='inline' for="c6">Is Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                            <a href="~/Product/Item" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancle</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Item">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Items List
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section Scripts
{
    <script type="text/javascript">
        $('[name="rmvimg"]').click(function () {
            $.ajax({
                type: "POST",
                url: "../RemoveImage",
                data: "ImagePrp="+this.id+"#@Model.Id",
                success: function (resp) {
                    window.location = "../Edit/" + resp;
                }
            });
        });
    </script>    
}