﻿@model List<B101_1.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Product Item";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Product Items
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Catagery</th>
                            <th>Price</th>
                            <th style="text-align:center">Status</th>
                            <th style="text-align:center">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.ViewModels.ProductViewModel prdct in @Model)
                        {
                            <tr>
                                <td>@prdct.ProductName</td>
                                <td>@prdct.Type</td>
                                <td>@prdct.Catagery</td>
                                <td>@prdct.Price</td>
                                <td style="text-align:center">
                                    @if (prdct.Status == true)
                                    {
                                        <span class="label label-warning">ACTIVE</span>
                                    }
                                    else
                                    {
                                        <span class="label label-darkblue">DE-ACTIVE</span>
                                    }
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Product/Item/Edit/@prdct.Id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Product/Item/ItemImage/@prdct.Id" class="btn btn-green" rel="tooltip" data-placement="top" title="MANAGE GALLERY"><i class="icon-cog"></i> Gallery</a>
                                    <a href="~/Product/Item/ItemAttributes/@prdct.Id" class="btn btn-brown" rel="tooltip" data-placement="top" title="MANAGE ATTRIBUTES"><i class="icon-cog"></i> Attributes</a>
                                    @*<a href="#" class="btn btn-green" rel="tooltip" data-placement="top" title="MANAGE SPECIFICATION"><i class="icon-cog"></i> Specification</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Item/AddNew">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i>  &nbsp;&nbsp;New Product Item
                    </button>
                </a>
            </li>
        </ul>
    </div>
}