﻿@model List<B101_1.ViewModels.ImageViewModel>
@{
    ViewBag.Title = "Item Image Managment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Item Images
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Image List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-nomargin dataTable table-bordered ">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th style="text-align:center">Arrange</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.ViewModels.ImageViewModel img in @Model)
                        {
                            <tr>
                                <td>
                                    <img src='~/Content/images/products/@img.ImagePath' style="width:100px;height:50px" />
                                </td>
                                <td style="text-align:center">
                                    @if (img.displayOrder == 1 && img.displayOrder == @Model.Count)
                                    {
                                        <button class="btn btn-inverse" href="javascript:void(0);">
                                            <i class="glyphicon-circle_arrow_top"></i>
                                        </button>
                                        <button class="btn btn-inverse" href="javascript:void(0);">
                                            <i class="glyphicon-circle_arrow_down"></i>
                                        </button>
                                    }
                                    else if (img.displayOrder == 1)
                                    {
                                        <button class="btn btn-inverse">
                                            <i class="glyphicon-circle_arrow_top"></i>
                                        </button>
                                        <a class="btn btn-green" name="mvdwm" rel="tooltip" data-placement="top" title="DOWN" id="@img.displayOrder#@img.ImageId#@ViewBag.Pi">
                                            <i class="glyphicon-circle_arrow_down"></i>
                                        </a>
                                    }
                                    else if (img.displayOrder == @Model.Count)
                                    {
                                        <a class="btn btn-green" name="mvup" rel="tooltip" data-placement="top" title="UP" id="@img.displayOrder#@img.ImageId#@ViewBag.Pi">
                                            <i class="glyphicon-circle_arrow_top"></i>
                                        </a>
                                        <button class="btn btn-inverse">
                                            <i class="glyphicon-circle_arrow_down"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <a class="btn btn-green" name="mvup" rel="tooltip" data-placement="top" title="UP" id="@img.displayOrder#@img.ImageId#@ViewBag.Pi">
                                            <i class="glyphicon-circle_arrow_top"></i>
                                        </a>
                                        <a class="btn btn-green" name="mvdwm" rel="tooltip" data-placement="top" title="DOWN" id="@img.displayOrder#@img.ImageId#@ViewBag.Pi">
                                            <i class="glyphicon-circle_arrow_down"></i>
                                        </a>
                                    }
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Product/Item/DeleteItemImage/@ViewBag.Pi/@img.ImageId" class="btn btn-inverse"><i class="icon-trash"></i> Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Item/NewImage/@ViewBag.Pi">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> New Item Image
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Product/Item">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Item List
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $('[name="mvup"]').click(function () {
            $.ajax({
                type: "POST",
                url: "../ArreangeImages",
                data: '&order=' + this.id + "&dir=U",
                success: function (resp) {
                    window.location = "../ItemImage/" + resp;
                }
            });
        });

        $('[name="mvdwm"]').click(function () {
            $.ajax({
                type: "POST",
                url: "../ArreangeImages",
                data: '&order=' + this.id + "&dir=D",
                success: function (resp) {
                    window.location = "../ItemImage/" + resp;
                }
            });
        });
    </script>
}