﻿@model List<B101_1.ViewModels.ProductAtributeViewModel>
@{
    ViewBag.Title = "ProductAttributes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Item Attribute Managment
        </h3>
    </div>
</div>

<div class="row-fluid">
    @if (MySession.Current.ErrorMessage != string.Empty)
    {
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        </div>
    }
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Item Attribute
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th style="width:15%">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (B101_1.ViewModels.ProductAtributeViewModel attr in @Model)
                            {
                                <tr>
                                    <td>@i.ToString()</td>
                                    <td>@attr.Attribute</td>
                                    <td>@attr.Value</td>
                                    <td>
                                        <a href="~/Product/Item/DeleteAttributes/@ViewBag.prdct/@attr.prat_id" class="btn btn-inverse"><i class="icon-trash"></i> Remove</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Attribute Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered'>
                    <input type="hidden" value="@ViewBag.prdct" name="prat_productid" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Attribute</label>
                        <div class="controls">
                            <div class="input-large">
                                <select name="prat_attrid" id="attribute" class='chosen-select'>
                                    <option value=""> </option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.AttributeRepo().BindAttributes())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Value</label>
                        <div class="controls">
                            <div class="input-large">
                                <select name="prat_valueid" id="value"></select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Attribute</label>
                        <div class="controls">
                            <input type="text" name="prat_customvalue" placeholder="attribute custom value" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        @*<a href="~/Admin/Product/Attribute" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancle</a>*@
                        <label id="lblmsg"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Item">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Item List
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#attribute").change(function () {
            $.ajax({
                type: "POST",
                data: "&id=" + $("#attribute").val(),
                url: '@Url.Content("~/Admin/Item/GetAttributeValue")',
                success: function (responce) {
                    $("#value").empty();
                    $("#value").append($("<option></option>").val("").html(""));
                    for (i = 0; i < responce.length; i++) {
                        $("#value").append($("<option></option>").val(responce[i].atrval_id).html(responce[i].atrval_value));
                    }
                }
            });
        });
    </script>
}