﻿@model List<B101_1.Models.blogcommentModel>
@{
    ViewBag.Title = "BLOG - COMMENTS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Comment Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Comments List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Blog</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Comment Date</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.blogcommentModel cm in @Model)
                        {
                            <tr>
                                <td>@cm.blogname</td>
                                <td>@cm.cmt_name</td>
                                <td>@cm.cmt_email</td>
                                <td>@cm.cmt_datetime.ToShortDateString()</td>
                                <td style="text-align:center">
                                    <a href="javascript:void(0);" class="btn btn-primary" rel="tooltip" data-placement="top" id="@cm.cmt_id" name="cmtvw" title="VIEW"><i class="icon-paste"></i> </a>
                                    <a href="~/Admin/Comment/Delete/@cm.cmt_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modal-2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
            <tr>
                <th>Comment From</th>
                <td>
                    <span id="cmtfrm"></span>
                </td>
            </tr>
            <tr>
                <th>
                    Comment
                </th>
                <td>
                    <span id="cmnt"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i> Close</button>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogArticle">
                    <button class="btn btn-primary">
                        <i class="glyphicon-blog"></i> Back To Article
                    </button>
                </a>
            </li>
        </ul>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $("[name='cmtvw']").click(function () {
            $.ajax({
                type: 'POST',
                url: "../Comment/View",
                data: "id="+this.id,
                success: function (resultData) {
                    $("#cmtfrm").text(resultData.cmt_name);
                    $("#cmnt").text(resultData.cmt_text);
                    $("#modal-2").modal('show');
                }
            });
        });
    </script>
}