﻿@{
    ViewBag.Title = "AddNew Attribute";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Add New Catagery
        </h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Attribute Add/Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered form-validate' id="bb">
                    @*<div class="control-group">
                <label for="textfield" class="control-label">Attribute Type</label>
                <div class="controls">
                    <div class="check-demo-col">
                        <div class="check-line">
                            <input type="radio" id="c7" class='icheck-me' checked name="attr_type" value="Product" data-skin="square" data-color="blue">
                            <label class='inline' for="c7">Product</label>
                        </div>
                    </div>
                    <div class="check-demo-col">
                        <div class="check-line">
                            <input type="radio" id="c7" class='icheck-me' name="attr_type" value="Specification" data-skin="square" data-color="blue">
                            <label class='inline' for="c7">Specification</label>
                        </div>
                    </div>
                </div>
            </div>*@

                    <div class="control-group">
                        <label for="textfield" class="control-label">Attribute</label>
                        <div class="controls">
                            <input type="text" name="attr_attribute" data-rule-required="true" placeholder="attribute name here" class="input-large">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="attr_status" value="true" class='icheck-me' data-skin="square" data-color="blue" checked>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        <a href="~/Admin/Product/Attribute" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancle</a>
                        <label id="lblmsg"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Attribute">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Attribute
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
