﻿@model List<B101_1.Models.attributevalueModel>
@{
    ViewBag.Title = "Product AttrValue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Attribute Value Managment
        </h3>
    </div>
</div>

<div class="row-fluid">
    @if (MySession.Current.ErrorMessage != string.Empty)
    {
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        </div>
    }
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Attribute Value
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Attribute Value</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (B101_1.Models.attributevalueModel attr in @Model)
                            {
                                <tr>
                                    <td>@i.ToString()</td>
                                    <td>@attr.atrval_value</td>
                                    <td>
                                        <a href="~/Admin/Product/Attribute/AttrValueDelete/@attr.atrval_attrid/@attr.atrval_id" class="btn btn-inverse"><i class="icon-trash"></i> Remove</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Value Add/Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered'>
                    <input type="hidden" value="@ViewBag.attr" name="atrval_attrid" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Value</label>
                        <div class="controls">
                            <input type="text" name="atrval_value" placeholder="attribute value" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        @*<a href="~/Admin/Product/Attribute" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancle</a>*@
                        <label id="lblmsg"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Product/Attribute">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Attributes
                    </button>
                </a>
            </li>
        </ul>
    </div>
}