﻿@model List<B101_1.Models.attributeModel>
@{
    ViewBag.Title = "Attributes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Attribute Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Attribute
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Attribute</th>
                            <th>Status</th>
                            <th style="text-align: center;">Manage Values</th>
                            <th style="text-align: center;">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (B101_1.Models.attributeModel attr in @Model)
                            {
                                <tr>
                                    <td>@i.ToString()</td>
                                    <td>@attr.attr_attribute</td>
                                    <td>
                                        @if (attr.attr_status == true)
                                        {
                                            <label class="label btn-success">active</label>
                                        }
                                        else
                                        {
                                            <label class="label btn-danger">deactive</label>
                                        }
                                    </td>
                                    <td style="width: 15%; text-align: center;">
                                        <a href="~/Product/Attribute/AttrValue/@attr.attr_id" class="btn btn-primary"><i class="icon-cog"></i> Manage Values</a>
                                    </td>
                                    <td style="width:15%;text-align:center;">
                                        <a href="javascript:void (0);" class="btn btn-inverse"><i class="icon-trash"></i> Remove</a>
                                    </td>
                                </tr>
                                        i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Attribute/AddNew">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Attribute
                    </button>
                </a>
            </li>
        </ul>
    </div>
}