﻿@model List<B101_1.Models.featureModel>
@{
    ViewBag.Title = "FEATURE MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Feature Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Location
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Display</th>
                            <th>Feature</th>
                            <th style="width:15%;text-align:center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.Models.featureModel fm in @Model)
                            {
                                <tr>
                                    <td class="qty">
                                        @if (fm.fm_status)
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square">
                                            </div>
                                        }
                                    </td>
                                    <td>@fm.fm_feature</td>
                                    <td class="qty">
                                        <a href="~/Admin/Feature/Delete/@fm.fm_id" class="btn btn-red"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Feature Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/Feature/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Feature</label>
                        <div class="controls">
                            <input type="text" name="fm_feature" data-rule-required="true" placeholder="feature" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>