﻿@model List<B101_1.Models.newsletterModel>
@{
    ViewBag.Title = "NEWSLETTER SUBSCRIBER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Subscriber Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Subscriber List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th style="text-align:center">status</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.newsletterModel nm in @Model)
                        {
                            <tr>
                                <td>@nm.ns_name</td>
                                <td>@nm.ns_email</td>
                                <td style="text-align:center">
                                    @if (nm.ns_status)
                                    {
                                        <label class="label btn-success">ACTIVE</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-danger">DEACTIVE</label>
                                    }
                                </td>

                                <td style="text-align:center">
                                    <a href="~/Admin/Newsletter/Changests/@nm.ns_id" class="btn btn-warning" rel="tooltip" data-placement="top" title="CHANGE STATUS"><i class="icon-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


