﻿@{
    ViewBag.Title = "SUBSCRIBE OUR NEWSLETTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>YOUR EMAIL</h4>
                        <input type="email" class="styled-input" name="ns_email" placeholder="subscriber email" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="subscribe me" />
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>