﻿@model List<B101_1.Models.catageryModel>
@{
    ViewBag.Title = "Product Catagery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Catagery Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Catagery
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Catagery</th>
                            <th>Full Catagery</th>
                            <th>Status</th>
                            <th style="text-align: center;">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (B101_1.Models.catageryModel catt in @Model)
                            {
                                <tr>
                                    <td>@i.ToString()</td>
                                    <td>@catt.prdct_catagery</td>
                                    <td>@catt.prdct_fulcatagery</td>
                                    <td>
                                        @if (catt.prdct_status == true)
                                        {
                                            <label class="label btn-success">active</label>
                                        }
                                        else
                                        {
                                            <label class="label btn-danger">deactive</label>
                                        }
                                    </td>
                                    <td style="text-align: center;width:15%;">
                                        <a href="javascript:void (0);" class="btn btn-primary"><i class="icon-edit"></i> Edit</a>
                                    </td>
                                </tr>
                                        i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Catagery/AddNew">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Catagery
                    </button>
                </a>
            </li>
        </ul>
    </div>
}