﻿@model B101_1.Models.additionalContent
@{
    ViewBag.Title = "AddEditContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Content Manage
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Content Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.CntId" name="CntId" />

                    <div class="control-group">
                        <label for="textfield" class="control-label">Content  Key</label>
                        <div class="controls">
                            <input type="text" name="CntKey" value="@Model.CntKey" data-rule-required="true" placeholder="page key" class="input-xlarge" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Content</label>
                        <div class="controls">
                            <textarea name="CntContent" class='ckeditor span12' rows="2" data-rule-required="true">@Model.CntContent</textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                        <a href="~/Admin/AdditionalContent" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/AdditionalContent">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Additional COntent
                    </button>
                </a>
            </li>
        </ul>
    </div>
}


