﻿@model List<B101_1.Models.additionalContent>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Additional Content
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Advertisement List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th width="100">Key</th>
                            <th>Content</th>
                            <th style="width:25%;text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.additionalContent ac in @Model)
                        {

                            <tr>
                                <td width="100">@ac.CntKey</td>
                                <td> @Html.Raw(ac.CntContent)</td>
                                <td>
                                    <a href="~/Admin/AdditionalContent/AddEditContent/@ac.CntId" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/DashBoard">
                    <button class="btn btn-primary">
                        <i class="icon-dashboard"></i> DashBoard
                    </button>
                </a>
            </li>
        </ul>
    </div>
}


