﻿@model B101_1.Models.emailtemplateModel
@{
    ViewBag.Title = "EDIT EMAIL TEMPLATE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Email Template Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Template Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered form-validate' id="bb">
                    <input type="hidden" value="@Model.et_id" name="et_id" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="et_name" placeholder="templatename" data-rule-required="true" class="input-large" value="@Model.et_name" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Subject</label>
                        <div class="controls">
                            <input type="text" name="et_subject" placeholder="template subject" class="input-large" value="@Model.et_subject">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">BCC Email</label>
                        <div class="controls">
                            <input type="text" name="et_bccemail" placeholder="template bcc email" class="input-large" value="@Model.et_bccemail">
                        </div>
                    </div><div class="control-group">
                        <label for="textfield" class="control-label">CC Email</label>
                        <div class="controls">
                            <input type="text" name="et_ccemail" placeholder="cc email" class="input-large" value="@Model.et_ccemail">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Mail Body</label>
                        <div class="controls">
                            <select class="select2-me input-xlarge" id="smarttags">
                                <option value="">[ SMARTY TAG ]</option>
                                <option value="<p>{userName}</p>">USER NAME</option>
                                <option value="<p>{password}</p>">PASSWORD</option>
                                <option value="<p>{email}</p>">EMAIL</option>
                                <option value="<p>{url}</p>">URL</option>
                            </select>
                        </div>
                        <div class="controls">
                            <textarea name="et_emailbody" class='ckeditor span12' data-rule-required="true" id="ckedit">@Model.et_emailbody</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="et_status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.et_status == true ? "Checked" : "")>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        <a href="~/Admin/EmailTemplate" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancel</a>
                        <label id="lblmsg"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/EmailTemplate">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Templates
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#smarttags").change(function () {
            var val = $("#smarttags").val();
            //CKEDITOR.instances['<%=txtDescription.ClientID%>'].insertText(val);
            CKEDITOR.instances['ckedit'].insertHtml(val);
        });
    </script>
}