﻿@model List<B101_1.Models.emailtemplateModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Email Template
        </h3>
    </div>
</div><div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Template List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.emailtemplateModel et in @Model)
                        {
                            <tr>
                                <td>@et.et_name</td>
                                <td>@et.et_subject</td>
                                <td>
                                    @if (et.et_status)
                                    {
                                        <label class="label btn-success">TRUE</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-warning">FALSE</label>
                                    }
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Admin/EmailTemplate/Edit/@et.et_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>