﻿@model B101_1.Models.advslotsModel
@{
    ViewBag.Title = "EDIT SLOT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Slot Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Slot Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="slt_id" value="@Model.slt_id" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Slot Location</label>
                        <div class="controls">
                            <div class="input-large">
                                <select name="slt_location" id="bbb" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.SpaceLocationRepo().BindLocation())
                                    {
                                        <option value="@itm.datavalue" @(Model.slt_location == itm.datavalue ? "selected": "")>@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Start Date</label>
                        <div class="controls">
                            <input type="text" name="slt_startdate" id="textfield" class="input-large1 datepick" value="@Model.slt_startdate.ToShortDateString()">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">End Date</label>
                        <div class="controls">
                            <input type="text" name="slt_enddate" id="textfield" class="input-large1 datepick" value="@Model.slt_enddate.ToShortDateString()">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/AdvSlot">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Slot
                    </button>
                </a>
            </li>
        </ul>
    </div>
}

