﻿@model List<B101_1.Models.advslotsModel>
@{
    ViewBag.Title = "SLOT MANAGMENT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Advertisement Slot Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Slot List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th style="width:25%;text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.advslotsModel sm in @Model)
                        {
                            <tr>
                               <td>@sm.location</td>
                                <td>@sm.slt_startdate.ToShortDateString()</td>
                                <td>@sm.slt_enddate.ToShortDateString()</td>
                                <td style="text-align:center">
                                    <a href="~/Admin/AdvSlot/Edit/@sm.slt_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/AdvSlot/Delete/@sm.slt_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/AdvSlot/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Slot
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/Advertisement">
                    <button class="btn btn-primary">
                        <i class="glyphicon-rss"></i>Go To Advertisement
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
