﻿<ul class="builders">
    @foreach (B101_1.ViewModels.AdvSlotMappingViewModel adv in new B101_1.DataBaseRepo.AdvSlotMappingRepo().ReadDaytoDayAdv())
    {
        <li>
            <a href="@adv.adv_url" target="_blank">
                <img src="~/Content/images/advertisement/@adv.adv_image" alt="" />
            </a>
        </li>   
    }
</ul>