﻿@if (User.IsInRole("administrator") || User.IsInRole("builder"))
{
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/css/bootstrap-responsive.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/css/plugins/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
    <!-- dataTables -->
    <link rel="stylesheet" href="~/css/plugins/datatable/TableTools.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="~/css/plugins/datepicker/datepicker.css">
    <!-- chosen -->
    <link rel="stylesheet" href="~/css/plugins/chosen/chosen.css">
    <!-- select2 -->
    <link rel="stylesheet" href="~/css/plugins/select2/select2.css">
    <!-- icheck -->
    <link rel="stylesheet" href="~/css/plugins/icheck/all.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/css/themes.css">

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="~/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- imagesLoaded -->
    <script src="~/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="~/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="~/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="~/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="~/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
    <!-- slimScroll -->
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom file upload -->
    <script src="~/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/js/plugins/mockjax/jquery.mockjax.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- dataTables -->
    <script src="~/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/datatable/TableTools.min.js"></script>
    <script src="~/js/plugins/datatable/ColReorderWithResize.js"></script>
    <script src="~/js/plugins/datatable/ColVis.min.js"></script>
    <script src="~/js/plugins/datatable/jquery.dataTables.columnFilter.js"></script>
    <script src="~/js/plugins/datatable/jquery.dataTables.grouping.js"></script>
    <!-- Validation -->
    <script src="~/js/plugins/validation/additional-methods.min.js"></script>
    <script src="~/js/plugins/validation/jquery.validate.min.js"></script>
    <!-- Datepicker -->
    <script src="~/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- select2 -->
    <script src="~/js/plugins/select2/select2.min.js"></script>
    <!-- Chosen -->
    <script src="~/js/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- icheck -->
    <!-- CKEditor -->
    <script src="~/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Form -->
    <script src="~/js/plugins/form/jquery.form.min.js"></script>
    <!-- Theme framework -->
    <script src="~/js/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="~/js/application.min.js"></script>
    <!-- Just for demonstration -->
    <script src="~/js/demonstration.min.js"></script>


    <!--[if lte IE 9]>
        <script src="~/js/plugins/placeholder/jquery.placeholder.min.js"></script>
        <script>
            $(document).ready(function() {
                $('input, textarea').placeholder();
            });
        </script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />
</head>
<body class="theme-darkblue">
    <div id="navigation" class="navbar-fixed-top">
        <div class="container-fluid">
            <a href="#" id="brand">B101</a>
            <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
            <ul class='main-nav'>
                <li>
                    <a href="~/Admin/DashBoard">
                        <i class="icon-dashboard"></i><span> DASHBOARD</span>
                    </a>
                </li>
                @*<li>
                        <a href="~/Product/Item">
                            <i class="glyphicon-list"></i><span> PRODUCT ITEM</span>
                        </a>
                    </li>*@
                <li>
                    <a href="~/Admin/Builder/NewRegistered">
                        <i class=" icon-info-sign"></i><span> NEW BUILDERS</span>
                    </a>
                </li>
                <li>
                    <a href="~/Admin/PrpHome">
                        <i class="glyphicon-cargo"></i><span> HOMES</span>
                    </a>
                </li>
                <li>
                    <a href="~/Admin/PageContent">
                        <span><i class="icon-file"></i> STATIC PAGES</span>
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Blogarticle">
                        <span><i class="glyphicon-blog"></i> ARTICLES</span>
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Advertisement">
                        <span><i class="glyphicon-rss"></i> ADVERTISEMENT</span>
                    </a>
                </li>
            </ul>
            <div class="user">
                <div class="dropdown">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                        @User.Identity.Name
                        <img src="~/img/demo/user-avatar.jpg" alt="">
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="~/Admin/ChangePassword"><i class="icon-key"></i> Change Password</a>
                        </li>
                        <li>
                            <a href="~/SignOut"><i class="icon-signout"></i> Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="content">
        <div id="left">
            @RenderSection("leftpan", required: false)
        </div>
        <div id="main">
            <div class="container-fluid">
                <br />
                @RenderBody()
            </div>
        </div>
    </div>
</body>
@RenderSection("scripts", required: false)
</html>
}
