﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BUILDING 101 ALL YOU NEED TO PLAN YOUR NEW HOME</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link href="~/Content/css/fonts/fonts.css" rel="stylesheet" type="text/css"><!--fonts-->
    <link href="~/Content/css/grid.css" rel="stylesheet" type="text/css"><!--grid-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css"><!--common-->
    <link href="~/Content/css/simplePagination.css" rel="stylesheet" type="text/css"><!--pager-->
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css"><!--Flex slider-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/sliderkit-demos.css" media="screen, projection" />
    <link href="~/Content/SpryAssets/SpryAccordion.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/mapper.js"></script>

    <!--Map js start-->
    <script type="text/javascript">
        /* (function (H)
         {
             H.className = H.className.replace(/\bno-js\b/, 'js')
         })(document.documentElement)
         window.ruiAdProvider = 'SAS';*/
        //$(document).ready(function () {
        //    if ($('#search-map'))
        //    {
        //        $('#search-map area').each(function () {
        //            var id = $(this).attr('id');
        //            $(this).mouseover(function ()
        //            {
        //                var url = $(this).attr('href');
        //                var coords = $(this).attr('coords').split(',');
        //            });

        //            $(this).mouseout(function () {
        //                var id = $(this).attr('id');
        //            });

        //        });
        //    }
        //});
        //$(document).ready(function ()
        //{
        //    $.getJSON("http://www.telize.com/geoip?callback=?",
        //        function (json)
        //        {
        //            alert("Geolocation information for IP address : " +json.ip);
        //            alert("Region Code :" + json.region_code);
        //            var region = json.region_code;
        //        }
        //    );
        //});
        function searchclick(val) {
            $("#reg").val("");
            $("#reg").val(val);
        }
    </script>
    <link rel="stylesheet" href="~/Content/css/map.css" type="text/css">
    <!--Map js end-->
    <!--[if lt IE 9]>
            <script src="~/Content/js/html5.js"></script>
    <![endif]-->
    <style>
        #map-canvas {
            height: 500px;
            width: inherit;
            margin: auto;
            padding: 0px;
        }
    </style>
</head>

<body>
    <!--Header being-->
    <header>
        <div class="container_12">
            <div class="logo">
                <a href="~/" title="BUILDING 101 ALL YOU NEED TO PLAN YOUR NEW HOME">
                    <img src="~/Content/images/logo.png" alt="BUILDING 101 ALL YOU NEED TO PLAN YOUR NEW HOME" />
                </a>
            </div>
            <!--top menu being-->
            <div class="top-link">
                <ul>
                    <li><a href="~/NewHomeDesign"> New Home Designs</a></li>
                    <li><a href="~/Directery/Land">Land</a></li>
                    <li><a href="~/Directery/DisplayHomeLocation">Display Home Locations</a></li>
                    <li><a href="~/Articles/Renovators">Renovators</a></li>
                    <li><a href="~/Directery/ProertyDeveloper">Property Development</a></li>
                    <li><a href="~/Directery/Commercial">Commercial</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="login"><a href="~/Login">LOGIN</a></li>
                    }
                </ul>
            </div>
            <!--top menu end-->
            <!--sign up being-->
            @if (User.IsInRole("endusers"))
            {
                <div class="top-signup m-t-25">
                    <label>WEL COME : @User.Identity.Name</label>
                    <br />
                    <a href="~/UserChangePassword">SETTING</a> | <a href="~/SignOut">LOGOUT</a>
                </div>
            }
            else
            {
                <div class="top-signup m-t-25">
                    <a href="javascript:void(0)" id="signup">
                        <div class="signup-box">
                            <div class="left-text">
                                <p>Sign Up</p>
                                <div> and save your favourite floorplans &amp; design ideas </div>
                            </div>
                            <div class="right-icon">
                                <img src="~/Content/images/login-icon.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            }
            <!--sign up end-->
        </div>
    </header>
    <!--Header end-->
    <!--Main Nav being-->
    <div class="container_12">
        <div class="nav-bg">
            <nav class="clearfix">
                <ul>
                    <li><a href="~/Articles/kitchen">Kitchen</a></li>
                    <li><a href="~/Articles/bathroom">Bathroom</a></li>
                    <li><a href="~/Articles/living and dining">Living &amp; Dining</a></li>
                    <li><a href="~/Articles/bedrooms">Bedrooms</a></li>
                    <li><a href="~/Articles/home office">Home Office</a></li>
                    <li><a href="~/Articles/garage">Garage</a></li>
                    <li><a href="~/Articles/storage">Storage</a></li>
                    <li><a href="~/Articles/outdoor living">Outdoor Living</a></li>
                    <li><a href="~/Articles/pools">Pools</a></li>
                </ul>
            </nav>
            <div class="search-box">
                <input name="" type="text" placeholder="SEARCH">
            </div>
        </div>
    </div>
    <!--Main Nav end-->
    <!--Middle being-->
    <div class="container_12">
        <div class="middle">
            @RenderBody()

            <!--Footer being-->
            <div class="mid-bottom">
                <div class="grid_6">
                    <h3 class="mid-btm">Subscriptions &amp; Downloads</h3>
                    <div class="subscriptions">
                        <div class="mag-img"><img src="~/Content/images/mag1.jpg" alt="" /></div>
                        <div class="subs-text">
                            <div class="title">This Month in СUSTOM HOMES</div>
                            <p>This lush urban courtyard garden provides an escape from the buzz of city life This lush urban courtyard garden provides an escape from the buzz of city life This lush urban courtyard garden provides an escape from the buzz of city life This lush urban courtyard garden provides an escape from the buzz of city life This lush urban courtyard garden provides an escape from the buzz of city life </p>
                            <div class="m-b-15"><a href="#" class="link-white">Read more</a></div>
                            <ul class="subscribe">
                                <li><a href="#">PRINT EDITION</a></li>
                                <li><a href="#">DIGITAL EDITION</a></li>
                                <li><a href="#">IPAD  APP</a></li>
                                <li><a href="#">MOBILE  APP</a></li>
                                <li><a href="#">ANDROID APP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid_6 prefix_1 suffix_1">
                    <h3 class="mid-btm">Cover Archive</h3>
                    <ul class="magazine">
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/mag2.jpg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
            <!--Footer end-->
        </div>
    </div>
    <!--Middle being-->
    <!--footer being-->
    <footer>
        <div class="container_12">
            <div class="ft-text">
                @(
 @Html.Raw(new B101_1.DataBaseRepo.AdditionalContentRepo().ReadByKey("footer").CntContent)
                )
            </div>
            <ul class="ft-link m-b-15">
                <li><a href="~/TermsandCondition">Terms and conditions</a></li>
                <li><a href="~/Privacy">Privacy</a></li>
                <li><a href="~/Advertise">Advertise</a></li>
                <li><a href="~/Newsletter/Subscribe">Subscribe to Us</a></li>
                <li><a href="~/NewBuilder">Register Builder</a></li>
                <li><a href="~/Login">Login</a></li>
                <li style="background:none"><a href="~/Contact">Contact</a></li>
            </ul>
            <div><img src="~/Content/images/logo-sm.png" alt="" /></div>
        </div>
    </footer>
    <!--footer end-->
    <!--sign up modal-->
    <div id="dialog">
        <div class="middle-form" style="width:400px;">
            <form method="post" id="registerform" action="~/NewUser">
                <ul>
                    @if (MySession.Current.ErrorMessage != string.Empty)
                    {
                        <li>
                            <div>
                                <h4 class="error">@MySession.Current.ErrorMessage</h4>
                            </div>
                        </li>
                        MySession.Current.ErrorMessage = string.Empty;
                    }
                    <li>
                        <div>
                            <h4>EMAIL</h4>
                            <input type="text" class="styled-input" name="UserName" placeholder="enter your email" value="@Request[" username"]" />
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>PASSWORD</h4>
                            <input type="password" class="styled-input" name="Password" placeholder="enter password" />
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>RETYPE PASSWORD</h4>
                            <input type="password" class="styled-input" name="Repassword" placeholder="re enter password" />
                        </div>
                    </li>
                    <li>
                        <hr />
                        <div>
                            <input type="button" class="styled-button" value="register me" id="registerbutton" />
                        </div>
                    </li>
                    <li>
                        <br />
                        <div class="two">
                            <h4><a href="~/Login">GO TO LOGIN</a> </h4>
                        </div>
                        <div>&nbsp;</div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--sign up modal-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Common jquery-->
    <!--Slider script start-->
    <script src="~/Content/js/jquery.flexslider.js"></script> <!--flex slider js-->
    <script type="text/javascript" src="~/Content/js/jquery.sliderkit.1.9.2.pack.js"></script><!-- Slider Kit scripts -->
    <script type="text/javascript" src="~/Content/js/jquery.simplePagination.js"></script><!-- pager -->
    <!--page specific script-->
    @RenderSection("scripts", required: false)
    <!--page specific script end-->

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                width: 460,
                height: 450,
            });
            $(".ui-dialog-titlebar").hide();
            $('.flexslider').flexslider();
            // Photo gallery > Vertical
            $(".photosgallery-vertical").sliderkit({
                circular: true,
                mousewheel: true,
                shownavitems: 4,
                verticalnav: true,
                navclipcenter: true,
                auto: false
            });
        });

        $("#signup").click(function () {
            $("#dialog").dialog("open");
        });
        $('#feature').on('change', function () {
            $("#selectedftr").val($(this).val());
        });

        $("#registerbutton").click(function () {
            //var d = $("#registerform").serialize();
            //alert(d);
            //$.ajax({
            //    url: '',
            //    type: 'post',
            //    data:d,
            //    success: function (data)
            //    {
            //        alert(data);
            //    }
            //});
        });
    </script>
    <!--Slider script end-->
    <script class='rui-js-script' type="text/javascript" src="~/Content/js/map-js.js"></script>
    <script src="~/Content/js/map-js1.js" data-main="~/Content/js/map-js2.js"></script>
    <!--Map script end-->
</body>
</html>