﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="iso-8859-1">
    <link href="~/Content/styles/layout.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/scripts/jquery-defaultvalue.js"></script>
    <script src="~/Content/scripts/jquery-browsercheck.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="styles/ie.css" type="text/css">
    <script src="scripts/ie/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">B<span>101</span></a></h1>
                <h2>
                  Your One Stop Resources<br>To Plan Your Home
                </h2>
            </div>
            @*<form action="#" method="post">
                <fieldset>
                    <legend>Search:</legend>
                    <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
                    <input type="submit" id="sf_submit" value="submit">
                </fieldset>
            </form>*@
        </header>
    </div>
    <div class="wrapper row2">
        <nav id="topnav">
            <ul class="clear">
                <li><a href="~/">Home</a></li>
                <li><a href="~/Home/AdvanceSearch">Advance Search</a></li>
                <li><a href="~/Home/Privacy">Privacy</a></li>
                <li><a href="~/Home/Advertise">Advertise</a></li>
                <li><a href="~/Home/Contact">Contact</a></li>
                <li><a href="~/Account/Login">Login</a></li>
                <li><a href="~/Account/SignUp">SignUp Builder</a></li>
            </ul>
        </nav>
    </div>
    <!-- content -->
    <div class="wrapper row3">
        <div id="container" class="clear">
            <!-- content body -->
            <!-- ########################################################################################## -->
            <!-- ########################################################################################## -->
            @RenderBody()
            <!-- ########################################################################################## -->
            <!-- ########################################################################################## -->
            <!-- / content body -->
        </div>
    </div>
    <!-- Copyright -->
    <div class="wrapper row5">
        <footer id="copyright" class="clear">
            <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#nl_name, #nl_email").defaultvalue("Name", "Email Address");
        });
    </script>
</body>
</html>