﻿<div class="right-filter m-b-26">
    <h4 class="right-flt">SELECT BUILDING REGION:</h4>

    <div class="map">
        <div class="search-form-container">
            <div class="search-container">
                <input id="preferredSort" type="hidden" name="activeSort" value="" />
                <input id="preferredView" type="hidden" name="display" value="list" />
            </div>
            <div class="browse-by-suburb-cta">                
                <img id="search-map-image" src="~/Content/images/australiamap-large.png" alt="" usemap="#search-map" style="background-color:red;">
                <map id="search-map" name="search-map">
                    <area id="search-map-area-act" shape="rect" class="noborder icolor00ff00" data-state="ACT" href="#" alt="ACT" title="" coords="182,131,226,155" onclick="searchclick('act')" />
                    <area id="search-map-area-nt" shape="poly" data-state="NT" href="#" alt="Northern Teritory" onclick="searchclick('Northen Territory')" title="" coords="95,35,95,101,146,100,146,40,135,34,146,15,119,13,102,24,97,34,92,34" />
                    <area id="search-map-area-wa" shape="poly" data-state="WA" href="#" alt="Western Australia" onclick="searchclick('Western Australia')" title="" coords="91,32,74,34,51,68,16,86,38,159,93,141,93,134" />
                    <area id="search-map-area-sa" shape="poly" data-state="SA" href="#" alt="South Australia" title="" onclick="searchclick('South Australia')" coords="95,103,95,135,112,131,135,152,156,169,156,96" />
                    <area id="search-map-area-qld" shape="poly" data-state="QLD" href="#" alt="Queensland" title="" onclick="searchclick('Qeensland')" coords="146,42,145,97,155,96,156,112,214,111,218,113,227,105,192,52,180,22,172,10,162,52" />
                    <area id="search-map-area-vic" shape="poly" data-state="VIC" href="#" alt="Victoria" title="" onclick="searchclick('Victoria')" coords="157,168,171,175,178,171,183,176,200,169,203,155,179,148,155,132" />
                    <area id="search-map-area-nsw" shape="poly" data-state="NSW" href="#" alt="New South Wales" title="" onclick="searchclick('New South Wales')" coords="157,113,155,130,180,148,206,157,227,123,225,112,223,106,218,112,214,111,214,110" />
                    <area id="search-map-area-tas" shape="rect" data-state="TAS" href="#" alt="TAS" title="" coords="171,184,219,205" onclick="searchclick('Tasmania')" />
                </map>
            </div>
        </div>
    </div>
    @*<div style="clear:both;height:1px;float:none;"></div>*@
    <!--Map End-->
    <div class="title">Find New Homes with:</div>
    <div class="form">
        <form method="post" action="~/Search/SearchHome">
            <input type="hidden" name="region" id="reg" />
            <ul>
                <li class="styled-select">
                    <select name="bed">
                        <option value="">Number of Bedrooms</option>
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBedRoom())
                        {
                            <option value="@itm.datavalue">@itm.datatext</option>
                        }
                    </select>
                </li>

                <li class="styled-select">
                    <select name="bath">
                        <option value="">Number of Bathrooms</option>
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBathroom())
                        {
                            <option value="@itm.datavalue">@itm.datatext</option>
                        }
                    </select>
                </li>
                <li class="styled-select">
                    <select name="storey">
                        <option value="">Storeys</option>
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetStorey())
                        {
                            <option value="@itm.datavalue">@itm.datatext</option>
                        }
                    </select>
                </li>
                <li class="styled-select-multiple">
                    <select multiple style="width: 240px; height: 110px; color: #818181;padding:5px;" id="feature">
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetFeatures())
                        {
                            <option value="@itm.datavalue">@itm.datatext</option>
                        }
                    </select>
                    <input type="hidden" name="features" id="selectedftr" />
                </li>
                <li><div>to select more than one option hold ctrl button down</div></li>
                <li class="styled-select">
                    <select name="priceranage">
                        <option value="">Your Budget</option>
                        @foreach (B101_1.Models.budgetModel itm in new B101_1.DataBaseRepo.BudgetRepo().ListBudget())
                        {
                            <option value="@itm.bm_frmamnt.ToString()-@itm.bm_toamnt.ToString()"> $ @itm.bm_frmamnt.ToString() - $ @itm.bm_toamnt.ToString()</option>
                        }
                    </select>
                </li>
                @*<li class="styled-select">
                        <select>
                            <option> More Filters</option>
                        </select>
                    </li>*@
                <li class="text-center">
                    <input name="" type="submit" class="search-btn" value="SEARCH NOW">
                </li>
            </ul>
        </form>
    </div>
</div>
