﻿@model B101_1.Models.advertisementModel
@{
    ViewBag.Title = "EDIT ADVERTISEMENT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Advertisement Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Advertisement Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.adv_id" name="adv_id"/>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Advertisement Name </label>
                        <div class="controls"> 
                            <input type="text" name="adv_name" placeholder="name for advertisement" class="input-xlarge" data-rule-required="true" value="@Model.adv_name" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/Content/images/advertisement/@Model.advimagenm" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Change image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="advimage" data-rule-required="true" />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                                <span class="help-block"><strong>Size : 213px x 107px</strong></span>
                            </div>
                            <input type="hidden" name="advimagenm" value="@Model.advimagenm" />
                            <input type="hidden" name="adv_image" value="@Model.adv_image" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Alt Text</label>
                        <div class="controls">
                            <input type="text" name="adv_alttext" data-rule-required="true" placeholder="alt text for advertisement" class="input-xlarge" value="@Model.adv_alttext">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">url</label>
                        <div class="controls">
                            <input type="text" name="adv_url" data-rule-required="true" placeholder="external url of advertiser" class="input-xlarge" value="@Model.adv_url" data-rule-url="true">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Advertisement">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Advertisement
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
