﻿@model List<B101_1.Models.advertisementModel>

@{
    ViewBag.Title = "ADVERTISEMENT MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Advertisement Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Advertisement List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">Image</th>
                            <th>Url</th>
                            <th>Alter Text</th>
                            <th style="width:25%;text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.advertisementModel am in @Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    <img src="~/Content/images/advertisement/@am.advimagenm" style="width:200px;height:80px"/>
                                </td>
                                <td>
                                    <a href="@am.adv_url" target="_blank">@am.adv_url</a>
                                </td>
                                <td>@am.adv_alttext</td>
                                <td style="text-align:center">
                                    <a href="~/Admin/Advertisement/Edit/@am.adv_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/Advertisement/Delete/@am.adv_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Advertisement/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add Advertisement
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdvSlot">
                    <button class="btn btn-primary">
                        <i class="glyphicon-paperclip"></i> Slots Management
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdvSlotMapping">
                    <button class="btn btn-primary">
                        <i class="icon-move"></i> Slot Adv Mapping
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
