﻿@{
    ViewBag.Title = "BUILDER ADD";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Builder Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Builder Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_catagery" id="Category" class="chosen-select">
                                    <option value=""> </option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BuilderCatRepo().BindParentCatagery())
                                    {
                                        <option value="@itm.datavalue" @(Convert.ToInt64(Request["hidden"]) == itm.datavalue ? "selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Sub Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_subcatagery" id="bbb" class="chosen-select">
                                    <option value=""> </option>
                                    @if (ViewBag.subcatagery != null)
                                    {
                                        foreach (B101_1.ViewModels.DataBindModel itm in ViewBag.subcatagery)
                                        {
                                            <option value="@itm.datavalue">
                                                @itm.datatext
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="bm_name" data-rule-required="true" placeholder="builder name" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Header Image <br />or <br />Builder logo</label>
                        <div class="controls">
                            @*<input type="text" name="DIAlt" placeholder="alter text for default" class="input-medium">*@
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select Image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="headerimg" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 150px x 150px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Search Image</label>
                        <div class="controls">
                            @*<input type="text" name="DIAlt" placeholder="alter text for default" class="input-medium">*@
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select Image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="searchimg" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 210px x 110px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Region</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_region" class="chosen-select">
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.RegionRepo().GetRegion())
                                    {
                                        <option value="@itm.datavalue">
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Address</label>
                        <div class="controls">
                            <textarea name="bm_address" class="input-xlarge" rows="3" data-rule-required="true"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Phone</label>
                        <div class="controls">
                            <input type="text" name="bm_phone" placeholder="builder phone" data-rule-digits="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Fax</label>
                        <div class="controls">
                            <input type="text" name="bm_fax" placeholder="builder fax" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" name="bm_email" placeholder="builder email" data-rule-required="true" data-rule-email="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Web Site</label>
                        <div class="controls">
                            <input type="text" name="bm_website" placeholder="builder web site" data-rule-url="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <textarea name="bm_shortdescription" class="input-xlarge" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="bm_description" class='ckeditor span12' rows="2" data-rule-required="true"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="bm_pagetitle" placeholder="page title" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="bm_metakey" class="input-xlarge" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="bm_metadescription" class="input-xlarge" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="bm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" checked>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form action="Add" id="getrecord">
    <input type="hidden" name="hidden" id="hiddeen" />
</form>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Builder">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Builders
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#Category").change(function () {
            @*$.ajax({
                type: "POST",
                data: "&id=" + $("#Category").val(),
                url: '@Url.Content("~/Admin/Builder/subCategory")',
                success: function (responce) {
                    $("#bbb").empty();
                    $("#bbb").append($("<option></option>").val("").html(""));
                    for (var i = 0; i < responce.length ; i++) {
                        $("#bbb").append($("<option></option>").val(responce[i].datavalue).html(responce[i].datatext));
                    }
                }
            });*@
            $("#hiddeen").val($("#Category").val());
            $("#getrecord").submit();
        });
    </script>
}