﻿@{
    ViewBag.Title = "ADD GALLERY IMAGE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Add Gallery Image
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-picture"></i>
                    Gallery Images Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="itmid" value="@ViewBag.itmid" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input span3">
                                        <i class="icon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="Image" data-rule-required="true" />
                                    </span>
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 680px x 390px</strong></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Order</label>
                        <div class="controls">
                            <input type="text" name="displayOrder" placeholder="0" data-rule-digits="true" class="input-small" readonly value="@ViewBag.DispOrd">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Alter Text</label>
                        <div class="controls">
                            <input type="text" name="AltText" placeholder="alter text for image" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Builder/Gallery/@ViewBag.itmid">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Gallery Image
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/Builder">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Builder
                    </button>
                </a>
            </li>
        </ul>
    </div>
}