﻿@model List<B101_1.Models.builderModel>
@{
    ViewBag.Title = "BUILDER MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Builder Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Builder List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%">Display</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Email</th>
                            @*<th style="text-align:center">Status</th>*@
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.builderModel bld in @Model)
                        {
                            <tr>
                                <td style="width:10%;">
                                    @if (bld.bm_status == true)
                                    {
                                        <div class="check">
                                            <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="check">
                                            <input type="checkbox" class='icheck-me' data-skin="square">
                                        </div>
                                    }
                                </td>
                                <td>@bld.bm_name</td>
                                <td>@bld.bm_catagery</td>
                                <td>@bld.bm_email</td>
                                @*<td style="text-align:center">
                                    @if (bld.bm_isapproved)
                                    {
                                        <label class="label btn-success" name="btnsts" id="@bld.bm_userid">ACTIVED</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-danger" name="btnsts" id="@bld.bm_userid">DEACTIVATED</label>
                                    }
                                </td>*@
                                <td style="text-align:center">
                                    <a href="~/Admin/Builder/Edit/@bld.bm_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/Builder/Delete/@bld.bm_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                    <a href="~/Admin/Builder/Gallery/@bld.bm_id" class="btn btn-green" rel="tooltip" data-placement="top" title="MANAGE GALLERY"><i class="icon-reorder"></i> Gallery</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Builder/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Builder
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
