﻿@model B101_1.Models.builderModel
@{
    ViewBag.Title = "BUILDER PROFILE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Builder Profile
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Builder Profile Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.bm_id" name="bm_id" />
                    <input type="hidden" value="@Model.bm_isprofcompltd" name="bm_isprofcompltd" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_catagery" id="catagery" class="chosen-select">
                                    <option value=""> </option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BuilderCatRepo().BindParentCatagery())
                                    {
                                        if (Request["hidden"] != null)
                                        {
                                            <option value="@itm.datavalue" @(Convert.ToInt64(Request["hidden"]) == itm.datavalue ? "selected" : "")>
                                                @itm.datatext
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@itm.datavalue" @(Convert.ToInt64(Model.bm_catagery) == itm.datavalue ? "selected" : "")>
                                                @itm.datatext
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Sub Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_subcatagery" id="bbb" class="chosen-select">
                                    <option value=""> </option>
                                    @if (ViewBag.subcatagery != null)
                                    {
                                        foreach (B101_1.ViewModels.DataBindModel itm in ViewBag.subcatagery)
                                        {
                                            <option value="@itm.datavalue" @(Convert.ToInt64(Model.bm_subcatagery) == itm.datavalue ? "selected" : "")>
                                                @itm.datatext
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.bm_subcatagery" name="bm_subcatagery" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="bm_name" data-rule-required="true" value="@Model.bm_name" placeholder="builder name" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Header Image <br /> or <br />Logo</label>
                        <div class="controls">
                            @*<input type="text" name="DIAlt" placeholder="alter text for default" class="input-medium">*@
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    @if (Model.bmheaderimage != string.Empty || Model.bmheaderimage != null)
                                    {
                                        <img src="~/Content/images/builder/@Model.bmheaderimage" style="width: 150px; height: 150px;" />
                                        <input type="hidden" name="Image" value="@Model.bmheaderimage" />
                                        <input type="hidden" name="bm_headerimage" value="@Model.bm_headerimage" />
                                    }
                                    else
                                    {
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    }
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select Image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="headerimg" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 150px x 150px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Search Image</label>
                        <div class="controls">
                            @*<input type="text" name="DIAlt" placeholder="alter text for default" class="input-medium">*@
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    @if (Model.bmsearchimage != string.Empty || Model.bmsearchimage != null)
                                    {
                                        <img src="~/Content/images/builder/@Model.bmsearchimage" style="width: 150px; height: 150px;" />
                                        <input type="hidden" name="Image" value="@Model.bmsearchimage" />
                                        <input type="hidden" name="bm_searchimage" value="@Model.bm_searchimage" />
                                    }
                                    else
                                    {
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    }
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select Image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="searchimg" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 210px x 110px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder Region</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bm_region" id="bm_region" class="chosen-select">
                                    <option value=""> </option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.RegionRepo().GetRegion())
                                    {
                                        <option value="@itm.datavalue" @(Model.bm_region == itm.datavalue ? "selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Address</label>
                        <div class="controls">
                            <textarea name="bm_address" class="input-xlarge" rows="3" data-rule-required="true">@Model.bm_address</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Phone</label>
                        <div class="controls">
                            <input type="text" name="bm_phone" placeholder="builder phone" value="@Model.bm_phone" data-rule-digits="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Fax</label>
                        <div class="controls">
                            <input type="text" name="bm_fax" placeholder="builder fax" value="@Model.bm_fax" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" name="bm_email" placeholder="builder email" value="@Model.bm_email" data-rule-required="true" data-rule-email="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Web Site</label>
                        <div class="controls">
                            <input type="text" name="bm_website" placeholder="builder web site" value="@Model.bm_website" data-rule-url="true" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <textarea name="bm_shortdescription" class="input-xlarge" rows="3">@Model.bm_shortdescription</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="bm_description" class='ckeditor span12' rows="2" data-rule-required="true">@Model.bm_description</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="bm_pagetitle" placeholder="page title" value="@Model.bm_pagetitle" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="bm_metakey" class="input-xlarge" rows="2">@Model.bm_metakey</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="bm_metadescription" class="input-xlarge" rows="4">@Model.bm_metadescription</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="bm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.bm_status == true ? "checked" : "")>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="bm_userid" value="@Model.bm_userid" />
                    <input type="hidden" name="oldcatagery" value="@Model.bm_catagery" />
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form action="../Edit/@Model.bm_id" id="getrecord">
    <input type="hidden" name="hidden" id="hiddeen" />
</form>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Dashboard">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back to Dash
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#catagery").change(function () {
            $("#hiddeen").val($("#catagery").val());
            $("#getrecord").submit();
        });
    </script>
}