﻿@model MembershipUserCollection
@{
    ViewBag.Title = "USERS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-user"></i>
            Users
        </h3>
    </div>
</div>
<div class="row-fluid">
    @if (MySession.Current.ErrorMessage != string.Empty)
    {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
            <strong> @MySession.Current.ErrorMessage </strong>
        </div>
        MySession.Current.ErrorMessage = string.Empty;
    }
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-user"></i>
                    Users List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered ">
                    <thead>
                        <tr>
                            <th>USERNAME</th>
                            <th class='hidden-350'>EMAIL ADDRESS</th>
                            <th>JOIN DATE</th>
                            <th>LASTLOGIN</th>
                            <th style="text-align:center">TYPE</th>
                            <th style="text-align:center">STATUS</th>
                            <th style="text-align:center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MembershipUser mu in @Model)
                        {
                            if (mu.IsOnline == false)
                            {
                                <tr>
                                    <td>@mu.UserName</td>
                                    <td>@mu.Email</td>
                                    <td>@mu.CreationDate.ToShortDateString()</td>
                                    <td>@mu.LastActivityDate</td>
                                    <td style="text-align:center">
                                        @if (Roles.IsUserInRole(mu.UserName, "builder"))
                                        {
                                            <label class="label label-success">BUILDER</label>
                                        }
                                        else
                                        {
                                            <label class="label label-info">END USER</label>
                                        }
                                    </td>
                                    @if (mu.IsApproved == true)
                                    {
                                        <td style="text-align:center">
                                            <label class="label btn-success" name="btnsts" id="@mu.UserName.ToString()%1">Active</label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center">
                                            <label class="label btn-danger" name="btnsts" id="@mu.UserName.ToString()%0">Deactivated</label>
                                        </td>
                                    }
                                    <td style="text-align:center">
                                        <a class="btn btn-inverse" href="~/Admin/User/ResetPassword/@mu.ProviderUserKey"><i class="glyphicon-ok_2"></i> Reset Password </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $("[name='btnsts']").click(function () {
            id = this.id;
            $.ajax({
                type: "POST",
                data: "&id=" + id,
                url: "../Admin/User/changeStatus",
                success: function (resp) {
                    if (resp == 1) {
                        window.location = "../Admin/User";
                    }
                    else {
                        $("#lblmsg").text(resp);
                        $("#lblmsg").attr("class", "label btn-danger")
                        $("#new-task").modal('show');
                    }
                }
            });
        });
    </script>
}