﻿@model List<B101_1.Models.blogcatageryModel>
@{
    ViewBag.Title = "BLOG-CATAGERY MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Category Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Category List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="text-align:center">Display Image</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.blogcatageryModel cm in @Model)
                        {
                            <tr>
                                <td>@cm.bc_catagery</td>
                                <td style="text-align:center">
                                    <img src="~/Content/images/other/@cm.mainimagenm" style="width:100px" />
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Admin/BlogCatagery/Delete/@cm.bc_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Category Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' action="~/Admin/BlogCatagery/Add" id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Catagery</label>
                        <div class="controls">
                            <input type="text" name="bc_catagery" data-rule-required="true" placeholder="Article Catagery" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Main Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="mainimage" data-rule-required="true" />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 256px x 129px</strong></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogSubCatagery">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Manage Sub Catagory
                    </button>
                </a>
            </li>
        </ul>
    </div>
}