﻿@{
    ViewBag.Title = "BLOG TAGS MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Tag Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Tag List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Tag Name</th>
                            <th style="width:15%;text-align:center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.Models.tagModel bdg in @Model)
                            {
                                <tr>
                                    <td>@bdg.bt_tag</td>
                                    <td class="qty" style="text-align:center">
                                        <a href="~/Admin/Budget/Delete/@bdg.bt_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Tag Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/Tag/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Tag</label>
                        <div class="controls">
                            <input type="text" name="bt_tag" data-rule-required="true" placeholder="tag" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogArticle">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Articles
                    </button>
                </a>
            </li>
        </ul>
    </div>
}