﻿@model List<B101_1.Models.buildercatageryModel>

@{
    ViewBag.Title = "BUILDER CATEGORY";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Builder Category Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Category
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th style="width:15%;text-align:center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.Models.buildercatageryModel cat in @Model)
                            {
                                <tr>
                                    <td class=@(cat.bcat_parent == 0 ?"alert-success" : "")>@cat.bcat_catagery</td>
                                    <td style="text-align:center" class="qty">
                                        <a href="~/Admin/Buildercatagery/Delete/@cat.bcat_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Category Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/Buildercatagery/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Parent</label>
                        <div class="controls">
                            <div class="input-large">
                                <select name="bcat_parent" id="bbb" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    <option value="0">Add New Parent</option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BuilderCatRepo().BindParentCatagery())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Category Name</label>
                        <div class="controls">
                            <input type="text" name="bcat_catagery" data-rule-required="true" placeholder="Category" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>