﻿@{
    ViewBag.Title = "ADDNEW SLIDER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-picture"></i>
            Add New
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-picture"></i>
                    Slider Images Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered' enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input span3">
                                        <i class="icon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="ImagePath" data-rule-required="true" />
                                    </span>
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>   Size : 870px x 375px</strong></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Order</label>
                        <div class="controls">
                            <input type="text" name="displayOrder" placeholder="0" class="input-small">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Alter Text</label>
                        <div class="controls">
                            <input type="text" name="AltText" placeholder="alter text for image" class="input-large">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                        <a href="~/Admin/Slider" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancel</a>
                        <label id="lblmsg"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Slider">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Sliders
                    </button>
                </a>
            </li>
        </ul>
    </div>
}