﻿@model List<B101_1.ViewModels.SliderViewModel>
@{
    ViewBag.Title = "SLIDER MANAGMENT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-picture"></i>
            Slider Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-picture"></i>
                    Slider Images
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered ">
                    @*<thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>*@
                    <tbody>
                        @foreach (B101_1.ViewModels.SliderViewModel itm in @Model)
                        {
                            <tr>
                                <td>
                                    <img src='~/Content/images/slider/@itm.ImagePath' alt='@itm.AltText' style="width:100%;height:200px;" />
                                    <br /><br />
                                    <div class="pull-right">
                                        <a class="btn btn-inverse" href="~/Admin/Slider/Delete/@itm.sliderId"><i class="icon-trash"></i> DELETE</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Slider/AddNew">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add Image
                    </button>
                </a>
            </li>
        </ul>
    </div>
}