﻿@{
    ViewBag.Title = "ADD  ARTICLE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Blog Article Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Article Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Article Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="ba_catagery" id="bbb" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BlogcatageryRepo().Bindblgcatagery())
                                    {
                                        <option value="@itm.datavalue" @(Convert.ToInt64(Request["ba_catagery"]) == itm.datavalue ? "selected" : "")>@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Title</label>
                        <div class="controls">
                            <input type="text" name="ba_title" data-rule-required="true" placeholder="Article title" value="@Request["ba_title"]" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Main Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="mainimage" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 200px x 145px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Content</label>
                        <div class="controls">
                            <textarea name="ba_shortcontent" class='input-xlarge' rows="3" data-rule-required="true">@Request["ba_shortcontent"]</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Content</label>
                        <div class="controls">
                            <textarea name="ba_content" class='ckeditor span12' rows="10" data-rule-required="true" id="editor1"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Tags</label>
                        <div class="controls">
                            <div class="input-block-level">
                                <select data-rule-required="true" class='chosen-select' multiple id="tags">
                                    @foreach (B101_1.Models.tagModel tg in new B101_1.DataBaseRepo.TagRepo().ListTag())
                                    {
                                        if (Request["BlogTags"] != null)
                                        {
                                            if (Request["BlogTags"].ToString() != string.Empty)
                                            {
                                                if (Request["BlogTags"].ToString().Contains(tg.bt_id.ToString()))
                                                {
                                                    <option value="@tg.bt_id" selected>@tg.bt_tag</option>
                                                }
                                                else
                                                {
                                                    <option value="@tg.bt_id">@tg.bt_tag</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@tg.bt_id">@tg.bt_tag</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@tg.bt_id">@tg.bt_tag</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="blogtgs" name="BlogTags" value="@Request["BlogTags"]">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogArticle">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Articles
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            customConfig: 'fullconfig.js',
            //filebrowserImageBrowseUrl: 'http://localhost:10874/Content/images/blog/?type=Images',
        });

        $("#tags").change(function () {
            var vl = $("#tags").val();
            $("#blogtgs").val(vl);
        });
    </script>
}