﻿@{
    ViewBag.Title = "BLOG ARTICLES";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Article Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Article List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>author</th>
                            <th>created date</th>
                            <th style="text-align:center">status</th>
                            @*<th style="text-align:center">Status</th>*@
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.blogArticlesModel am in @Model)
                        {
                            <tr>
                                <td>@am.ba_title</td>
                                <td>@am.UserName</td>
                                <td>@am.ba_createddate.ToShortDateString()</td>
                                <td style="text-align:center">
                                    @if (am.ba_status)
                                    {
                                        <label class="label btn-success">OPEN</label>
                                    }
                                    else
                                    {
                                        <label class="label btn-danger">CLOSE</label>
                                    }
                                </td>

                                <td style="text-align:center">
                                    @*<a href="#" class="btn btn-info" rel="tooltip" data-placement="top" title="VIEW" name="view" id="@am.ba_id"><i class="icon-paste"></i></a>*@
                                    <a href="~/Admin/BlogArticle/Edit/@am.ba_id" class="btn btn-warning" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/BlogArticle/Delete/@am.ba_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modal-2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <iframe id="vfrm" style="height:100%;width:100%">   
        </iframe>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogArticle/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> New Article
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/Tag">
                    <button class="btn btn-primary">
                        <i class="glyphicon-tags"></i> Article Tags
                    </button>
                </a>
            </li>
            <li>
                <a href="~/Admin/Comment">
                    <button class="btn btn-primary">
                        <i class="glyphicon-comments"></i> Blog Comments
                    </button>
                </a>
            </li>
        </ul>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        //$("[name='view']").click(function () {
        //    $("#vfrm").attr('src', '~/Admin/BlogArticle/View/1')
        //    $("#modal-2").modal('show');
        //});
    </script>
}
