﻿@{
    ViewBag.Title = "ADD - HOME";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Home Property Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Home Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    @if (User.IsInRole("administrator"))
                    {
                        <div class="control-group">
                            <label for="textfield" class="control-label">Builder</label>
                            <div class="controls">
                                <div class="input-xlarge">
                                    <select name="hm_builder" class="chosen-select">
                                        <option value=""> </option>
                                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBuilder())
                                        {
                                            <option value="@itm.datavalue">
                                                @itm.datatext
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="hm_builder" value="@ViewBag.bid" />
                    }
                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="hm_name" placeholder="home name" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Main Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="hmmainimage" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 270px x 275px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Flore Plan Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="hmflorplanimage" multiple />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 235px x 395px</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Price From</label>
                        <div class="controls">
                            <div class="input-prepend">
                                @*<span class="label label-info">Insert From Price or Select Price Range Below</span>
                                    <br />*@
                                <span class="add-on">$</span>
                                <input type="text" name="hm_pricefrm" data-rule-number="true" placeholder="Price From" class="input-medium" id="prf" onblur="getpricerange()">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Price To</label>
                        <div class="controls">
                            <div class="input-prepend">
                                @*<span class="label label-info">Insert From Price or Select Price Range Below</span>
                                    <br />*@
                                <span class="add-on">$</span>
                                <input type="text" name="hm_priceto" data-rule-number="true" placeholder="Price To" class="input-medium" id="prf" onblur="getpricerange()">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bed</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="hm_bed" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBedRoom())
                                    {
                                        <option value="@itm.datatext">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bath</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="hm_bath" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBathroom())
                                    {
                                        <option value="@itm.datatext">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Storey</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_storey" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetStorey())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Area</label>
                        <div class="controls">
                            <input type="text" name="hm_area_sm" placeholder="home area" class="input-medium" onchange="smtos()" id="area_sm">
                            <span class="label label-info">SQ.M.</span>
                            <input type="text" name="hm_area_s" placeholder="home area" class="input-medium" onchange="stosm()" id="area_s">
                            <span class="label label-info">SQ.</span>
                            <span class="help-block">please specify area in square meter or square</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Minimum Block Size</label>
                        <div class="controls">
                            <input type="text" name="hm_blocksize" placeholder="minimum block size" class="input-medium">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Minimum Frontage</label>
                        <div class="controls">
                            <input type="text" name="hm_frontage" placeholder="home frontage" class="input-medium">
                            <span class="label label-info">M.</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Location</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_location" data-rule-required="true" class='chosen-select'>
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetLocation())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Address</label>
                        <div class="controls">
                            <textarea name="hm_address" class="input-xlarge" rows="3" data-rule-required="true"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Home Village</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_village" data-rule-required="true" class='chosen-select'>
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetVIllages())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Add Features</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select data-rule-required="true" class='chosen-select' multiple id="feature">
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetFeatures())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="hmfeatures" name="hmfeatures">
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Suit Narrow Block</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="hm_suitnb" value="true" class='icheck-me' data-skin="square" data-color="blue">
                                    <label class='inline' for="c6">Is Suit</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <textarea name="hm_shortdescription" class='input-xlarge' rows="3" data-rule-required="true"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="hm_description" class='ckeditor span12' rows="2" data-rule-required="true"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="hm_pagetitle" placeholder="page title" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="hm_metakey" class="input-xlarge" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="hm_metadescription" class="input-xlarge" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="hm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" checked>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Preview</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PrpHome">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Home
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#feature").change(function () {
            var vl = $("#feature").val();
            $("#hmfeatures").val(vl);
        });

       function smtos()
        {
           var sm = $("#area_sm").val().replace(/[^\d\.eE-]/g, '');
           $("#area_s").val(sm * 9.290304);
       }

       function stosm()
       {
           var s = $("#area_s").val().replace(/[^\d\.eE-]/g, '');
           $("#area_sm").val(s / 9.290304);
       }
    </script>
}