﻿@model B101_1.Models.prpHomeModel
@{
    ViewBag.Title = "EDIT - HOME";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Home Property Management
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Home Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="hm_id" value="@Model.hm_id" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_builder" class="chosen-select">
                                    <option value=""> </option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBuilder())
                                    {
                                        <option value="@itm.datavalue" @(Model.hm_builder == itm.datavalue ? "selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="hm_name" placeholder="home name" class="input-xlarge" value="@Model.hm_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Main Image</label>
                        <div class="controls">
                            @if (Model.mainimage != string.Empty)
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/Content/images/property/@Model.mainimage" style="width: 150px; height: 150px;" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <a href="" class="btn btn-inverse" rel="tooltip" data-placement="top" title="REMOVE"><i class="icon-trash"></i></a>
                                        <span class="btn btn-file btn-primary">
                                            <span class="fileupload-new">Change Image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="hmmainimage" />
                                        </span>
                                        <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file btn-primary">
                                            <span class="fileupload-new">Select Image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="hmmainimage" />
                                        </span>
                                        <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            }
                            <span class="help-block"><strong>Size : 270px x 275px</strong></span>
                        </div>

                        <input type="hidden" name="mainimage" value="@Model.mainimage" />
                        <input type="hidden" name="hm_mainimage" value="@Model.hm_mainimage" />
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Flore Plan Image</label>
                        <div class="controls">
                            @if (Model.floreplanimage != string.Empty)
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/Content/images/property/@Model.floreplanimage" style="width: 150px; height: 150px;" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <a href="" class="btn btn-inverse" rel="tooltip" data-placement="top" title="REMOVE"><i class="icon-trash"></i></a>
                                        <span class="btn btn-file btn-primary">
                                            <span class="fileupload-new">Change Image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="hmflorplanimage" multiple />
                                        </span>
                                        <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file btn-primary">
                                            <span class="fileupload-new">Select Image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="hmflorplanimage" multiple />
                                        </span>
                                        <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            }
                            <span class="help-block"><strong>Size : 235px x 395px</strong></span>
                        </div>
                        <input type="hidden" name="floreplanimage" value="@Model.floreplanimage" />
                        <input type="hidden" name="hm_florplanimage" value="@Model.hm_florplanimage" />
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Price From</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">$</span>
                                <input type="text" name="hm_pricefrm" value="@(Model.hm_pricefrm == 0 ? "" : Model.hm_pricefrm.ToString())" data-rule-numbers="true" placeholder="Price From" class="input-medium">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Price To</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">$</span>
                                <input type="text" name="hm_priceto" value="@(Model.hm_priceto == 0 ? "" : Model.hm_priceto.ToString())" d data-rule-numbers="true" placeholder="Price From" class="input-medium">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bed</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="hm_bed" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBedRoom())
                                    {
                                        <option value="@itm.datatext" @(Model.hm_bed.ToString() == itm.datatext ? "Selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bath</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="hm_bath" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetBathroom())
                                    {
                                        <option value="@itm.datatext" @(Model.hm_bath.ToString() == itm.datatext ? "Selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Storey</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_storey" data-rule-required="true" class='chosen-select'>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetStorey())
                                    {
                                        <option value="@itm.datavalue" @(Model.hm_storey == itm.datavalue ? "selected" : "")>
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Area</label>
                        <div class="controls">
                            <input type="text" name="hm_area_sm" placeholder="home area" class="input-medium" value="@(Model.hm_area_sm == 0 ? string.Empty : Model.hm_area_sm.ToString())" onchange="smtos()" id="area_sm">
                            <span class="label label-info">SQ.M.</span>
                            <input type="text" name="hm_area_s" placeholder="home area" class="input-medium" value="@(Model.hm_area_s == 0 ? string.Empty : Model.hm_area_s.ToString())" onchange="stosm()" id="area_s">
                            <span class="label label-info">SQ.</span>
                            <span class="help-block">please specify area in square meter or square</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Minimum Block Size</label>
                        <div class="controls">
                            <input type="text" name="hm_blocksize" placeholder="home frontage" class="input-medium" value="@Model.hm_blocksize">
                            <span class="label label-info">M.</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Frontage</label>
                        <div class="controls">
                            <input type="text" name="hm_frontage" placeholder="home frontage" class="input-medium" value="@(Model.hm_frontage == 0 ? string.Empty : Model.hm_frontage.ToString())"> <span class="label label-info">M.</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Location</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_location" data-rule-required="true" class='chosen-select'>
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetLocation())
                                    {
                                        <option value="@itm.datavalue" @(Model.hm_location == itm.datavalue ? "selected" : "")>@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Address</label>
                        <div class="controls">
                            <textarea name="hm_address" class="input-xlarge" rows="3" data-rule-required="true">@Model.hm_address</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Home Village</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="hm_village" data-rule-required="true" class='chosen-select'>
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetVIllages())
                                    {
                                        <option value="@itm.datavalue" @(Model.hm_village == itm.datavalue ? "selected" : "")>@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Add Features</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select data-rule-required="true" class='chosen-select' multiple id="feature">
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.PrpHomeRepo().GetFeatures())
                                    {
                                        <option value="@itm.datavalue" @(Model.hmfeatures.Contains(@itm.datavalue.ToString()) ? "selected" : "")>@itm.datatext</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <input type="hidden" id="hmfeatures" name="hmfeatures" value="@Model.hmfeatures">
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Suit Narrow Block</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="hm_suitnb" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.hm_suitnb == true ? "checked" : "")>
                                    <label class='inline' for="c6">Is Suit</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <textarea name="hm_shortdescription" class='input-xlarge' rows="3" data-rule-required="true">@Model.hm_shortdescription</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="hm_description" class='ckeditor span12' rows="2" data-rule-required="true">@Model.hm_description</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="hm_pagetitle" placeholder="page title" class="input-xlarge" value="@Model.hm_pagetitle">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="hm_metakey" class="input-xlarge" rows="2">@Model.hm_metakey</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="hm_metadescription" class="input-xlarge" rows="4">@Model.hm_metadescription</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="hm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.hm_status == true ? "checked" : "")>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PrpHome">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Home
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#feature").change(function () {
            var vl = $("#feature").val();
            $("#hmfeatures").val(vl);
        });

        function smtos() {
            var sm = $("#area_sm").val().replace(/[^\d\.eE-]/g, '');
            $("#area_s").val(sm * 9.290304);
        }

        function stosm() {
            var s = $("#area_s").val().replace(/[^\d\.eE-]/g, '');
            $("#area_sm").val(s / 9.290304);
        }
    </script>
}