﻿@model List<B101_1.Models.prpHomeModel>
@{
    ViewBag.Title = "HOME MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Home Master
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Home List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%">Display</th>
                            <th>Name</th>
                            <th>Builder</th>
                            <th>Bed</th>
                            <th>Bath</th>
                            <th>Price Range</th>
                            <th style="width:25%;text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.prpHomeModel hm in @Model)
                        {
                            <tr>
                                <td style="width:10%;">
                                    @if (hm.hm_status == true)
                                    {
                                        <div class="check">
                                            <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="check">
                                            <input type="checkbox" class='icheck-me' data-skin="square">
                                        </div>
                                    }
                                </td>
                                <td>@hm.hm_name</td>
                                <td>@hm.bm_name</td>
                                <td>@hm.hm_bed</td>
                                <td>@hm.hm_bath</td>
                                <td>
                                    @if(hm.hm_priceto != 0)
                                    {
                                        @("$" +hm.hm_pricefrm + "- $" + hm.hm_priceto)
                                    }
                                    else
                                    {
                                        @("From- $"+hm.hm_pricefrm)
                                    }
                                </td>
                                <td style="text-align:center">
                                    <a href="~/Admin/PrpHome/Edit/@hm.hm_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/PrpHome/Delete/@hm.hm_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                    <a href="~/Admin/PrpHome/Gallery/@hm.hm_id" class="btn btn-green" rel="tooltip" data-placement="top" title="MANAGE GALLERY"><i class="icon-reorder"></i> Gallery</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PrpHome/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New Home
                    </button>
                </a>
            </li>
        </ul>
    </div>
}