﻿@model B101_1.Models.prpHomeModel
@{
    ViewBag.Title = "Home Preview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row-fluid">
    <div class="span12">

        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Home Preview
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' action="Add" id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="hm_id" value="-1" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Builder</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <label>@Model.bldrname</label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <label>@Model.hm_name</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Main Image</label>
                        <div class="controls">
                            @if (Model.mainimage != string.Empty)
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/Content/images/property/@Model.mainimage" style="width: 150px; height: 150px;" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    </div>
                                </div>
                            }
                        </div>

                        <input type="hidden" name="mainimage" value="@Model.mainimage" />
                        <input type="hidden" name="hm_mainimage" value="@Model.hm_mainimage" />
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Flore Plan Image</label>
                        <div class="controls">
                            @if (Model.floreplanimage != string.Empty)
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/Content/images/property/@Model.floreplanimage" style="width: 150px; height: 150px;" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    </div>
                                </div>
                            }
                        </div>
                        <input type="hidden" name="floreplanimage" value="@Model.floreplanimage" />
                        <input type="hidden" name="hm_florplanimage" value="@Model.hm_florplanimage" />
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Price From</label>
                        <div class="controls">
                            <div class="input-prepend">

                                <label>$ @(Model.hm_pricefrm == 0 ? "" : Model.hm_pricefrm.ToString())</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Price To</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <label>$ @(Model.hm_priceto == 0 ? "" : Model.hm_priceto.ToString())</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bed</label>
                        <div class="controls">
                            <div class="input-medium">
                                <label>@Model.hm_bed.ToString() </label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Number of Bath</label>
                        <div class="controls">
                            <div class="input-medium">
                                <label>@Model.hm_bath.ToString()</label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Storey</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <label>@Model.storey</label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Area</label>
                        <div class="controls">
                            <label>@(Model.hm_area_sm == 0 ? string.Empty : Model.hm_area_sm.ToString()) Sq.M.</label>
                        </div>
                        <div class="controls">
                            <label>@(Model.hm_area_s == 0 ? string.Empty : Model.hm_area_s.ToString()) Sq.</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Minimum Block Size</label>
                        <div class="controls">
                            <label>@Model.hm_blocksize M.</label>

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Frontage</label>
                        <div class="controls">
                            <label>@(Model.hm_frontage == 0 ? string.Empty : Model.hm_frontage.ToString())</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Location</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <label>@Model.locationname</label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Address</label>
                        <div class="controls">
                            <label>@Model.hm_address</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Display Home Village</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <label>@Model.vilagename</label>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Features</label>
                        <div class="controls">
                            <label>@Model.features</label>
                        </div>
                        <input type="hidden" id="hmfeatures" name="hmfeatures" value="@Model.hmfeatures">
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Suit Narrow Block</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    @*<input type="checkbox" id="c6" name="hm_suitnb" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.hm_suitnb == true ? "checked" : "")>
                                        <label class='help-inline' for="c6">Is Suit</label>*@
                                    <label> @(Model.hm_suitnb == true ? "Yes" : "No")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <label>@Model.hm_shortdescription</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <label>@Html.Raw(Model.hm_description)</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <label>@Model.hm_pagetitle </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <label>@Model.hm_metakey</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <label>@Html.Raw(Model.hm_metadescription)</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    @*<input type="checkbox" id="c6" name="hm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.hm_status == true ? "checked" : "")>*@
                                    <label>@(Model.hm_status == true ? "Active" : "Inactive")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Submit</button>
                        <a href="~/Admin/PrpHome/Cancle" class="btn btn-green">
                                <i class="icon-share-alt"></i> Cancle
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/PrpHome">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Home
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $("#feature").change(function () {
            var vl = $("#feature").val();
            $("#hmfeatures").val(vl);
        });
    </script>
}
