﻿@model List<B101_1.Models.blogsubcatageryModel>
@{
    ViewBag.Title = "BLOG-CATAGERY MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Category Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                   Sub-Category List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Parent Category</th>
                            <th>Sub-Category</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.blogsubcatageryModel scm in @Model)
                        {
                            <tr>
                                <td>@scm.bsc_id</td>
                                <td>@scm.catageryname</td>
                                <td>@scm.bsc_subcatname</td>
                                <td style="text-align:center">
                                    <a href="~/Admin/BlogSubCatagery/Delete/@scm.bsc_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Sub Category Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' action="~/Admin/BlogSubCatagery/Add" id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Parent Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="bsc_parentcat" id="bbb" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BlogcatageryRepo().Bindblgcatagery())
                                    {
                                        <option value="@itm.datavalue">@itm.datatext</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Sub Category</label>
                        <div class="controls">
                            <input type="text" name="bsc_subcatname" data-rule-required="true" placeholder="Article Catagery" class="input-xlarge">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/BlogCatagery">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Back to Catagory
                    </button>
                </a>
            </li>
        </ul>
    </div>
}