﻿@model List<B101_1.Models.regionModel>
@{
    ViewBag.Title = "REGION MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Region Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Region
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Display</th>
                            <th>Feature</th>
                            <th style="width:15%;text-align:center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.Models.regionModel rm in @Model)
                            {
                                <tr>
                                    <td class="qty">
                                        @if (rm.rm_status)
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square">
                                            </div>
                                        }
                                    </td>
                                    <td>@rm.rm_region</td>
                                    <td class="qty" style="text-align:center">
                                        <a href="~/Admin/Region/Delete/@rm.rm_id" class="btn btn-red"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Region Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/Region/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Country</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="rm_country" class="chosen-select">
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.RegionRepo().GetCountry())
                                    {
                                        <option value="@itm.datavalue">
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Region</label>
                        <div class="controls">
                            <input type="text" name="rm_region" data-rule-required="true" placeholder="region" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>