﻿@model List<B101_1.ViewModels.AdvSlotMappingViewModel>
@{
    ViewBag.Title = "ADVERTISEMENT SLOT MAPPING";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Advertisement Slot Mapping
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Mapped Advertisement Slots
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Advertisement</th>
                            <th>Slot</th>
                            <th style="width:15%;text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.ViewModels.AdvSlotMappingViewModel map in @Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@map.adv_url">@map.adv_name</a>
                                    </td>
                                    <td>
                                        @(map.location.TrimEnd() + " - " + map.slt_startdate.ToShortDateString() + " - to - " + map.slt_enddate.ToShortDateString())
                                    </td>
                                    <td style="text-align:center">
                                        <a href="~/Admin/AdvSlotMapping/Delete/@map.asm_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Advertisement Slot Map
                </h3>
            </div>  
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/AdvSlotMapping/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Advertisement</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="asm_advit" id="bbb" data-rule-required="true" class="chosen-select">
                                    <option value=""></option>
                                    @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.AdvertisementRepo().BindAdvertisement())
                                    {
                                        <option value="@itm.datavalue">
                                            @itm.datatext
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Slot</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="asm_slotid" class="chosen-select">
                                    <option value=""></option>
                                    @foreach (B101_1.Models.advslotsModel itm in new B101_1.DataBaseRepo.AdvslotsRepo().BindSlot())
                                    {
                                        <option value="@itm.slt_id">
                                            @(itm.location.TrimEnd() + " - " + itm.slt_startdate.ToShortDateString() + " - to - " + itm.slt_enddate.ToShortDateString())
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save Mapping</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/Advertisement">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Advrtsemnt
                    </button>
                </a>
            </li>
        </ul>
    </div>
}

@section scripts
{
    
}