 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; width:870px; height:375px;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width:870px; height:375px; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {width: 14px; height: 5px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top:185px; cursor: pointer; text-indent: -9999px; opacity:1; -webkit-transition: all .3s ease; z-index:99}
.flex-direction-nav .flex-next {background-position: 100% 0; right:420px; }
.flex-direction-nav .flex-prev {left: 377px;}
.flexslider:hover .flex-next {opacity: 0.8;/* right: 5px;*/}
.flexslider:hover .flex-prev {opacity: 0.8; /*left: 5px;*/}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; top: 163px; margin-left:394px; z-index:99}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 9px; height: 9px; display: block; background: #fff; cursor: pointer; text-indent: -9999px;opacity: 0.8; }
.flex-control-paging li a:hover { background-position:0 0;opacity: 1; }
.flex-control-paging li a.flex-active { background-position:0 0; cursor: default;opacity: 1; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

.slider_text { position:absolute; width:440px; height:124px; padding:20px; line-height:29px; text-transform:uppercase; margin-left:25px; margin-top:60px; z-index:1; background:rgba(50,47,47,0.76); color:#fff; font-size:30px; font-family: 'bebas_neueregular'; font-weight:normal;}


