html{
	overflow:auto
}

/*body h2,body h1{
	font-family:'Museo-Sans-500';
	line-height:1em;
	font-weight:normal;
	font-size:1.5em;
	margin-bottom:.5em
}

.container main{
	margin:.8em auto 1.875em auto;
	min-width:1010px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
*/
.search-refinements{
	margin-top:15px;
	position:relative;
	width:850px; margin-left:60px;}

.js .search-refinements .rui-icon-select-touch-friendly,.js .search-refinements select.rui-select,.js .search-refinements .rui-select-wrapper{
	transition-duration:.1s;
	-webkit-transition-duration:.1s;
	-moz-transition-duration:.1s;
	opacity:0
}

.app-loaded.js .search-refinements .rui-icon-select-touch-friendly,.app-loaded.js .search-refinements select.rui-select,.app-loaded.js .search-refinements .rui-select-wrapper{
	opacity:1
}

.app-loaded.js .ie8 .search-refinements .rui-icon-select-touch-friendly,.app-loaded.js .ie8 .search-refinements select.rui-select,.app-loaded.js .ie8 .search-refinements .rui-select-wrapper{
	display:block
}

.js .ie8 .search-refinements .rui-icon-select-touch-friendly,.js .ie8 .search-refinements select.rui-select,.js .ie8 .search-refinements .rui-select-wrapper{
	display:none
}

.search-refinements .condition{
	float:left;
	margin-bottom:10px;
	padding-right:20px;
	vertical-align:top
}

.search-refinements .condition .select-holder>label{
	display:none
}

.no-js .search-refinements .condition .select-holder>label{
	display:block;
	font-size:10px
}

.search-refinements .condition.property-select-holder,.search-refinements .condition.property-select-holder select.rui-select{
	width:172px
}

.no-js .search-refinements .condition.property-select-holder,.no-js .search-refinements .condition.property-select-holder select.rui-select{
	height:80px;
	padding-bottom:10px
}

.search-refinements .condition.property-select-holder .select-holder:first-child{
	margin-right:0
}

.search-refinements .condition.price-select-container>.select-holder{
	width:130px
}

.search-refinements .condition.bed-select-container>.select-holder{
	width:110px
}

.search-refinements .condition.price-select-container{
	padding-right:0px
}

.search-refinements .condition .select-holder{
	display:inline-block;
	width:100%
}

.search-refinements .condition .select-holder:first-child{
	margin-right:0
}

.search-refinements .condition .select-holder:first-child{
	margin-right:7px
}

.search-refinements .condition.browse-by-suburb{
	padding:0;
	float:right
}

@media only screen and (min-width: 450px) and (max-width: 740px){
	.rui-responsive .search-refinements .condition{
		display:table;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}

	.rui-responsive .search-refinements .condition.property-select-holder .select-holder,.rui-responsive .search-refinements .condition.bed-select-container .select-holder,.rui-responsive .search-refinements .condition.price-select-container .select-holder{
		display:table-cell;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}

	.rui-responsive .search-refinements .condition.price-select-container,.rui-responsive .search-refinements .condition.bed-select-container{
		padding-right:0
	}

	.rui-responsive .search-refinements .condition.price-select-container .select-holder:first-child,.rui-responsive .search-refinements .condition.bed-select-container .select-holder:first-child{
		padding-right:10px
	}

}


.search-form{
	background:#fff;
	font-family:'Museo-Sans-300';
	height:auto;
	margin-top:-156px;
	height:386px;
	padding:156px 0 0 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-width:1010px
}

.no-js .search-form{
	height:436px
}

.search-form .search-form-container{
	width:1010px;
	margin:auto;
	position:relative;
	padding-left:20px
}

.search-form .rui-search-container .rui-search-button{
	background:#890b1f
}

.buy .search-form .rui-search-container .rui-search-button{
	background:#e4002b
}

.buy .search-form .rui-search-container .rui-search-button:hover{
	background:#ad251c
}

.rent .search-form .rui-search-container .rui-search-button{
	background:#1688ea
}

.rent .search-form .rui-search-container .rui-search-button:hover{
	background:#2283ce
}

.sold .search-form .rui-search-container .rui-search-button{
	background:#ecb100
}

.sold .search-form .rui-search-container .rui-search-button:hover{
	background:#d9a13e
}

.search-form h1{
	font-family:'Museo-Sans-500';
	color:#000;
	font-weight:normal;
	font-size:1.5em;
	margin-top:28px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	text-align:left !important
}

.buy .search-form h1:before{
	color:#e4002b
}

.rent .search-form h1:before{
	color:#1688ea
}

.sold .search-form h1:before{
	color:#ecb100
}

.search-form .search-container{
	width:720px
}

.search-form .land-container{
	width:220px;
	position:relative
}

.search-form .land-container .rui-form-element span{
	position:absolute;
	right:39px;
	z-index:5
}

.search-form .land-container .rui-form-element{
	float:left;
	width:50%
}

.search-form .land-container .rui-input{
	float:right;
	width:50%
}

.search-form .rural-container{
	width:190px;
	position:relative
}

.search-form .rui-form-element{
	color:#000
}

.search-form .rui-form-element span{
	background:#fff;
	color:#9b9b9b
}

@media only screen and (max-width: 900px){
	.rui-responsive .search-form{
		padding-left:20px;
		padding-right:20px;
		height:auto;
		padding-bottom:20px
	}

}

@media only screen and (max-width: 719px){
	.rui-responsive .search-form{
		margin-top:0;
		padding-top:1px
	}

}

.recent-locations{
	padding-top:0em
}

.recent-locations .rui-auto-complete-item:hover a{
	font-weight:normal;
	background-color:#dfecf8;
	color:#296dd3
}

.recent-locations .rui-auto-complete-item:hover a .rui-icon-add{
	display:block
}

.recent-locations .recent-locations-itemlist{
	padding-top:2em
}

.recent-locations .recent-locations-title{
	font-family:'Museo-Sans-500', helvetica, arial, sans-serif;
	background:#E5E5D9;
	left:0;
	top:0;
	width:100%
}

.recent-locations .recent-locations-title{
	background:#DADFE4;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	padding:4px 8px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-left:1em
}

.rui-auto-complete-list .recent-locations-item a{
	margin:1px 0 1px 0;
	text-decoration:none;
	display:block;
	min-height:0;
	font-size:0.9em;
	font-weight:normal;
	overflow:hidden;
	cursor:pointer;
	border-radius:4px;
	color:#3b3b3b;
	line-height:2em;
	padding-left:0.5em;
	padding-right:0.5em
}

.rui-auto-complete-list .recent-locations-item a:hover{
	font-weight:normal;
	background-color:#dfecf8;
	color:#296dd3
}

.rui-auto-complete-list .recent-locations-item a:hover .rui-icon-add{
	display:block
}

.rui-auto-complete-list .recent-locations-item a .rui-icon-add{
	float:right;
	display:none;
	font-size:0.5em
}

.formSuburbSurroundings{
	font-size:.875em;
	font-family:'Museo-Sans-500';
	margin-top:15px;
	color:#353f48
}

.formSuburbSurroundings input[type=checkbox]{
	margin-right:0.5em
}

.is-tablet .rui-header .rui-main-logo,.is-tablet .rui-header-container,.is-tablet body:not(.rui-leaderboard-layout) .rui-header,.is-tablet .rui-header .rui-main-nav,.is-tablet .rui-header .rui-site-links,.is-tablet .rui-header-shrink .rui-leaderboard,.is-tablet .rui-header-shrink *{
	-webkit-transition:none !important
}

.is-tablet09ol .rui-header .rui-main-logo{
	-webkit-animation:none !important
}


#browse-by-suburb-experience{
	color:#353f48;
	position:absolute;
	opacity:0;
	height:0;
	visibility:hidden;
	overflow:hidden;
	z-index:9;
	left:0;
	top:0;
	width:100%
}

.ie8 #browse-by-suburb-experience{
	display:none
}

#browse-by-suburb-experience a.close{
	position:absolute;
	right:0;
	top:11px;
	display:inline;
	font-size:.9em
}

#browse-by-suburb-experience a.close span{
	color:#353f48
}

#browse-by-suburb-experience a.close .rui-icon{
	position:relative;
	top:2px;
	right:-7px
}

#browse-by-suburb-experience #browse-by-suburb-container{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	border-radius:5px;
	border:solid 2px #ccc
}

#browse-by-suburb-experience a{
	cursor:pointer;
	color:#353f48;
	text-decoration:none;
	padding:.3em .7em .3em .7em;
	display:block;
	margin-right:.5em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

#browse-by-suburb-experience ul.options{
	display:table;
	width:70%;
	margin-left:.7em
}

#browse-by-suburb-experience ul.options li{
	display:table-cell;
	padding:.5em 0;
	width:10%;
	text-align:center
}

#browse-by-suburb-experience ul.options li a{
	text-decoration:none;
	display:block;
	border-radius:4px
}

#browse-by-suburb-experience ul.options li a:hover{
	background:#eeeeee
}

#browse-by-suburb-experience ul.options li a.active{
	color:#fff
}

.buy #browse-by-suburb-experience ul.options li a.active{
	background:#00A8EA;
}

.rent #browse-by-suburb-experience ul.options li a.active{
	background:#1688ea
}

.sold #browse-by-suburb-experience ul.options li a.active{
	background:#ecb100
}

#browse-by-suburb-experience ul.options li a.disabled{
	color:#cfcfcf;
	background:#fafafa;
	cursor:default
}

#browse-by-suburb-experience ul.options.letters{
	width:100%;
	margin:0;
	border-top:solid 1px #ccc;
	margin-left:0
}

#browse-by-suburb-experience ul.options.letters li{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:2.5%
}

#browse-by-suburb-experience ul.options.letters li:first-child{
	padding-left:.4em
}

#browse-by-suburb-experience ul.options.letters li:last-child{
	padding-right:.4em
}

#browse-by-suburb-experience ul.options.letters li a{
	padding:.3em .2em .3em .2em;
	margin:0
}

.is-desktop #browse-by-suburb-experience.animate{
	transition-duration:.3s;
	-webkit-transition-duration:.3s;
	-moz-transition-duration:.3s
}

#browse-by-suburb-experience.visible{
	opacity:1;
	height:auto;
	visibility:visible
}

.ie8 #browse-by-suburb-experience.visible{
	display:block
}

#browse-by-suburb-experience .content{
	border-top:solid 1px #ccc;
	overflow:hidden;
	padding:10px 20px 0 20px;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:265px;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.is-tablet #browse-by-suburb-experience .content{
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch
}

#browse-by-suburb-experience .content .list{
	opacity:0;
	visibility:hidden;
	transition-duration:.3s;
	-webkit-transition-duration:.3s;
	-moz-transition-duration:.3s;
	transform:translate3d(-50px, 0, 0);
	-webkit-transform:translate3d(-50px, 0, 0);
	-moz-transform:translate3d(-50px, 0, 0);
	display:table;
	height:100%;
	background:#fff
}

#browse-by-suburb-experience .content .list .row{
	display:table-cell
}

#browse-by-suburb-experience .content .list li{
	width:203px;
	cursor:pointer;
	padding:.3em .7em .3em .7em;
	overflow:hidden;
	line-height:1.5em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

#browse-by-suburb-experience .content .list li:before{
	font-family:'rui-icon';
	content:attr(data-icon);
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	margin-right:0.5em;
	display:inline-block;
	content:"\e029"
}

.is-desktop #browse-by-suburb-experience .content .list li:before{
	visibility:hidden;
	float:right;
	font-size:.5em
}

.is-desktop #browse-by-suburb-experience .content .list li:hover{
	border-radius:4px;
	background:#e0ecf8;
	color:#2a6dd5
}

.is-desktop #browse-by-suburb-experience .content .list li:hover:before{
	visibility:visible
}

.is-tablet #browse-by-suburb-experience .content .list li:before{
	visibility:hidden;
	float:right;
	font-size:.5em
}

.is-tablet #browse-by-suburb-experience .content .list li:active{
	border-radius:4px;
	background:#e0ecf8;
	color:#2a6dd5
}

.is-tablet #browse-by-suburb-experience .content .list li:active:before{
	visibility:visible
}

#browse-by-suburb-experience .content .list li.title{
	font-family:'Museo-Sans-500';
	color:#e4002b
}

#browse-by-suburb-experience .content .list li.title:before{
	display:none
}

#browse-by-suburb-experience .content .list li.title:hover{
	cursor:inherit;
	color:#e4002b;
	background:inherit
}

#browse-by-suburb-experience .content .list.animate{
	opacity:1;
	visibility:visible;
	transform:translate3d(0, 0, 0);
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0)
}

#browse-by-suburb-experience .footer-nav{
	text-align:right;
	padding:6px 0
}

#browse-by-suburb-experience .prev-btn,#browse-by-suburb-experience .next-btn{
	display:inline-block;
	font-family:'Museo-Sans-500';
	font-size:.85em;
	position:relative;
	top:-2px
}

#browse-by-suburb-experience .prev-btn:hover,#browse-by-suburb-experience .prev-btn:active,#browse-by-suburb-experience .next-btn:hover,#browse-by-suburb-experience .next-btn:active{
	color:#e4002b
}

#browse-by-suburb-experience .prev-btn.is-disabled,#browse-by-suburb-experience .next-btn.is-disabled{
	color:#ccc;
	pointer-events:none
}

#browse-by-suburb-experience .prev-btn span,#browse-by-suburb-experience .next-btn span{
	position:relative;
	top:1px
}

#browse-by-suburb-experience .next-btn span{
	margin-left:.5em;
	margin-right:0
}

#browse-by-suburb-experience.is-loading .prev-btn,#browse-by-suburb-experience.is-loading .next-btn{
	visibility:hidden
}

.browse-by-suburb-cta{
	position:absolute;
	top:0;
	/*right:15px;*/
	width:245px
}

.no-js .browse-by-suburb-cta{
	display:none
}

.buy .browse-by-suburb-cta{
	background-color:#e4002b
}

.rent .browse-by-suburb-cta{
	background-color:#1688ea
}

.sold .browse-by-suburb-cta{
	background-color:#ecb100
}

.browse-by-suburb-cta img{
	width:100%;
	position:relative;
	z-index:9;
	border-style:none;
	outline:0px solid #fff
}

.browse-by-suburb-cta #search-map-highlight{
	position:absolute;
	opacity:0;
	z-index:1;
	background-size:245px auto
}

.ie8 .browse-by-suburb-cta #search-map-highlight{
	display:none
}

.browse-by-suburb-cta #search-map-highlight.visible{
	visibility:visible;
	opacity:1
}

.browse-by-suburb-cta #search-map-highlight.WA{
	left:0;
	top:0;
	width:95px;
	height:215px
}

.browse-by-suburb-cta #search-map-highlight.NT{
	left:95px;
	top:0;
	width:62px;
	height:100px;
	background-position:-95px 0
}

.browse-by-suburb-cta #search-map-highlight.SA{
	left:95px;
	top:100px;
	width:61px;
	height:100px;
	background-position:-95px -100px
}

.browse-by-suburb-cta #search-map-highlight.QLD{
	right:17px;
	top:0;
	width:82px;
	height:112px;
	background-position:-146px 215px
}

.browse-by-suburb-cta #search-map-highlight.VIC{
	right:27px;
	top:115px;
	width:62px;
	height:65px;
	background-position:-156px -330px
}

.browse-by-suburb-cta #search-map-highlight.NSW{
	right:18px;
	top:105px;
	width:71px;
	height:65px;
	background-position:-156px -105px
}

.browse-by-suburb-cta #search-map-highlight.ACT{
	right:29px;
	top:132px;
	width:27px;
	height:15px;
	background-position:-164px -115px
}

.browse-by-suburb-cta #search-map-highlight.TAS{
	right:27px;
	top:186px;
	width:62px;
	height:32px;
	background-position:-156px -186px
}

.rui-input{
	font-family:'Museo-Sans-500'
}

.rui-select-focused .rui-input,.rui-select-open .rui-input{
	border-color:#83add3 !important
}

.rui-input.rui-select-link{
	padding:9px 12px 7px 12px
}

.rent .rui-input.rui-select-link{
	padding-right:9px
}

.rui-input:focus::-webkit-input-placeholder{
	opacity:.5;
	-webkit-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out
}

.rui-form-element{
	padding:7px 0px 7px 0px
}

.condition .rui-input,select.rui-select{
	padding:9px 12px 7px 12px;
	height:39px;
	border-width:2px;
	border-color:#d8dadb
}

.rui-select-link span{
	color:#3c3c3c
}

select.rui-default-selected{
	color:#9b9b9b
}

.rui-default-selected .rui-select-link span{
	color:#9b9b9b
}

.rui-select-menu *{
	cursor:pointer
}

.rui-select-wrapper{
	content:" ";
	position:relative;
	z-index:inherit;
	border:none
}

.rui-select-wrapper:after,.rui-select-wrapper:before{
	z-index:-1;
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	border-radius:7px;
	transition-duration:0;
	-webkit-transition-duration:0;
	-moz-transition-duration:0
}

.rui-select-wrapper.rui-select-focused .rui-input.rui-select-link,.rui-select-wrapper.rui-select-open .rui-input.rui-select-link{
	z-index:1
}

.rui-select-wrapper.rui-select-focused:after,.rui-select-wrapper.rui-select-focused:before,.rui-select-wrapper.rui-select-open:after,.rui-select-wrapper.rui-select-open:before{
	z-index:0
}

.rui-select-wrapper.rui-select-focused:after,.rui-select-wrapper.rui-select-open:after{
	border:solid 2px #beddf9;
	top:-2px;
	left:-2px
}

.rui-select-wrapper.rui-select-focused:before,.rui-select-wrapper.rui-select-open:before{
	border:solid 4px rgba(255,255,255,0.5);
	top:-4px;
	left:-4px
}

.ie8 .rui-select-wrapper.rui-select-focused:before,.ie8 .rui-select-wrapper.rui-select-open:before{
	border:solid 4px #fff
}

.ie8 .rui-select-wrapper:after,.ie8 .rui-select-wrapper:before{
	display:none
}

.ie8 .rui-search-container #where{
	width:95.5%
}

.rui-header{
	z-index:99999
}

.rui-auto-complete-list{
	z-index:99998
}

.search-form-container{
	position:relative;
	z-index:99998
}

.rui-search-container .rui-input{
	line-height:1.4em;
	border-width:2px !important;
	border-color:#d8dadb !important
}

.ie8 .rui-search-container .rui-input{
	border-width:2px;
	border-color:#d8dadb
}

