/*-----------------------------------------------------------------------------------*/
/*	1. CSS RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img, img a {
    border: none;
    outline: none;
    vertical-align: middle;
}

ol, ul {
    list-style: none;
}

q:before, q:after {
    content: '';
    content: none;
}
/*-------------------------------------------------------------------------------------------------------*/
/* 1. Base Body Styles
/*-------------------------------------------------------------------------------------------------------*/

body {
    background: #f0f0f0;
    color: #6c6c6c;
    font-size: 14px;
    font-family: 'open_sansregular';
}


::-moz-selection, ::selection {
    background: #00adef;
    color: #fff;
    text-shadow: none;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before {
        content: "";
        display: table;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

a {
    text-decoration: none;
    color: #00a8ea;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

    a:visited, a:active, {
        color: #00a8ea;
    }

    a:focus, a:hover {
        color: #333;
    }

    a:focus {
        outline: none;
    }

    a:hover, a:active {
        outline: 0;
    }

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'open_sanssemibold', arial;
    font-weight: normal;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #6c6c6c;
    font-family: 'open_sansbold';
}

h3 {
    font-size: 16px;
    line-height: 24px;
    color: #333534;
    margin: 18px 0 10px 0;
}

h4 {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color: #222;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-size: 13px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}
/*--------------facility nav Start-----------*/
#facility {
    margin: 15px 0 15px 0;
}

    #facility ul {
        margin: 0px;
        padding: 0px;
    }

    #facility li {
        list-style-type: none;
        display: inline;
        background: url(../images/sep-slant.gif) no-repeat right 5px;
        padding-right: 15px;
        margin-right: 7px;
    }

        #facility li:last-child {
            background: none;
        }

    #facility a {
        color: #797979;
        font-size: 13px;
        font-family: 'open_sanslight_italic';
    }

        #facility a:hover {
            color: #00a8ea;
        }


/*-------------------------------------------------------------------------------------------------------*/
/* 2. general Styles
/*-------------------------------------------------------------------------------------------------------*/

p {
    line-height: 17px;
    margin-bottom: 15px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.m-b-26 {
    margin-bottom: 26px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-30 {
    margin-right: 30px;
}

.font-11 {
    font-size: 11px;
}

.font-b {
    font-family: 'open_sanssemibold';
}

/*-------------------------------------------------------------------------------------------------------*/
/* 3. Header
/*-------------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    margin: 35px 0 0 0;
    padding: 0;
    height: 115px;
}

.logo {
    width: 240px;
    float: left;
}

.top-link {
    width: 745px;
    float: left;
    margin-top: 60px;
}

    .top-link ul {
        text-align: center;
    }

        .top-link ul li {
            background: url(../images/sep-toplink.gif) no-repeat right 3px;
            padding: 0 6px 0 1px;
            font-size: 12px;
            display: inline;
        }

            .top-link ul li:nth-child(6n) {
                background: none;
            }

            .top-link ul li a {
                color: #272525;
                text-decoration: none;
                text-transform: uppercase;
            }

                .top-link ul li a:hover {
                    color: #00a8ea;
                    text-decoration: none;
                }

            .top-link ul li.login {
                background: none;
            }

                .top-link ul li.login a {
                    color: #01aaed;
                    font-family: 'open_sansbold';
                }

                    .top-link ul li.login a:hover {
                        color: #272525;
                    }

.top-login {
    width: 194px;
    float: right;
    margin-bottom: 16px;
    margin-top: -10px;
    padding-left: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .top-login a {
        text-transform: uppercase;
        font-family: 'open_sansbold';
        font-size: 12px;
    }

        .top-login a img {
            margin-right: 5px;
        }

.top-signup {
    width: 194px;
    height: 72px;
    float: right;
    display: block;
}

    .top-signup .signup-box {
        height: 72px;
        background: #28be5d;
        padding: 10px 11px 10px 12px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
    }

        .top-signup .signup-box .left-text {
            width: 132px;
            float: left;
            text-transform: uppercase;
            font-family: 'open_sansbold';
        }

            .top-signup .signup-box .left-text p {
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                font-size: 18px;
            }

            .top-signup .signup-box .left-text div {
                font-size: 10px;
                line-height: 10px;
            }

        .top-signup .signup-box .right-icon {
            width: 39px;
            float: left;
            text-align: right;
            background: url(../images/sep-green.gif) no-repeat left top;
            height: 60px;
            padding-top: 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

/*-------------------------------------------------------------------------------------------------------*/
/* 4. Nav
/*-------------------------------------------------------------------------------------------------------*/

.nav-bg {
    background: url(../images/nav-bg.jpg) repeat-x left top;
    height: 72px;
    width: 100%;
    float: left;
}

nav {
    width: 915px;
    float: left;
    padding-left: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}

    nav ul {
        margin-top: 10px;
    }

        nav ul li {
            background: url(../images/sep-white.gif) no-repeat left 6px;
            float: left;
            padding: 0;
            margin-top: 13px;
        }

            nav ul li:first-child {
                background: none;
            }

            nav ul li a {
                color: #fff;
                padding: 14px 8px 13px 8px;
                text-transform: uppercase;
                font-family: 'open_sanssemibold';
                font-size: 14px;
                line-height: 24px;
            }

                nav ul li a:hover, nav ul li.select a {
                    color: #fff;
                    background: #000 url(../images/sep-white.gif) no-repeat left 16px;
                    transition: none;
                }

            nav ul li:first-child a:hover, nav ul li:first-child.select a {
                color: #fff;
                background: #000;
                transition: none;
            }


.search-box {
    width: 264px;
    float: left;
    margin-top: 14px;
}

    .search-box input {
        background: #fff url(../images/search-icon.png) no-repeat 233px center;
        border: 0;
        height: 45px;
        width: 100%;
        padding-left: 10px;
        padding-right: 30px;
    }

/*-------------------------------------------------------------------------------------------------------*/
/* 5.  Middle
/*-------------------------------------------------------------------------------------------------------*/

.middle {
    background: #fff;
    -moz-box-shadow: 0px 7px 10px #bbb;
    -webkit-box-shadow: 0px 7px 10px #bbb;
    box-shadow: 0px 7px 10px #bbb;
    float: left;
    width: 100%;
}

.middle-form {
    background: #e4e4e4;
    padding: 20px 16px;
    width: 40%;
    margin: 30px auto auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h4.middle-form {
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

.middle-form .title {
    font-family: 'open_sansbold';
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

.middle-form h3 {
    color: #28be5d;
    font-size: 19px;
    text-transform: uppercase;
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'open_sansbold';
}

.middle-form .form li {
    margin-bottom: 8px;
}

    .middle-form .form li div {
        color: #818181;
        font-size: 11px;
        line-height: 14px;
    }

.middle-form .styled-input 
{
    /*font-family: 'open_sansbold';*/
    background: #fff;
    color: #818181;
    border: 0;
    height: 45px;
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 0;
    -webkit-appearance: none;
}

.styled-select {
    width: 240px;
    height: 30px;
    overflow: hidden;
    background: url(../images/new_arrow.jpg) no-repeat right #fff;
}

.middle-form .styled-button {
    font-family: 'open_sansbold';
    text-transform: uppercase;
    background: #00a9eb;
    border: 0;
    height: 45px;
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 5%;
    margin-bottom: 5px;
    font-size: 13px;
    color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
}

.styled-button:hover {
    cursor: pointer;
    background-color: ActiveBorder;
}

.styled-button:focus {
    background-color: #19A3FF;
}

.two {
    float: left;
    width: 50%;
}

.error {
    color: red;
}

.middle-form p {
    font-family: 'open_sansbold';
    font-size: 15px;
    text-align: center;
}

/*--------------Slider Start-----------*/

.slider {
    margin-bottom: 48px;
}


/*--------------Home page listing Start-----------*/

.home-listing ul {
}

    .home-listing ul li {
        width: 410px;
        margin-right: 50px;
        margin-bottom: 50px;
        float: left;
    }

        .home-listing ul li:nth-child(2n) {
            margin-right: 0;
        }

        .home-listing ul li .property-img {
            width: 200px;
            float: left;
            margin-right: 27px;
        }

            .home-listing ul li .property-img img {
                width: 200px;
                height: 143px;
            }

        .home-listing ul li .property-disc {
            width: 183px;
            float: left;
            font-size: 14px;
            color: #6c6c6c;
            line-height: 17px;
        }

            .home-listing ul li .property-disc .title {
                font-family: 'open_sansbold';
                text-transform: uppercase;
                margin-bottom: 14px;
            }

            .home-listing ul li .property-disc .text {
                margin-bottom: 14px;
            }

a.link {
    font-family: 'open_sanssemibold';
    cursor: pointer;
}

    a.link:hover {
        color: #6c6c6c;
    }

/*--------------Home services box Start-----------*/

.home-service {
    background: #e4e4e4;
    width: 870px;
    float: left;
    padding: 16px 0;
}

    .home-service ul li {
        margin: 13px 17px;
        float: left;
    }

        .home-service ul li .box-title {
            position: absolute;
            background: rgba(85,85,85,0.85);
            height: 41px;
            font-family: 'open_sansbold';
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            width: 256px;
            text-align: center;
            line-height: 40px;
            margin-top: 88px;
        }


/*-------------------------------------------------------------------------------------------------------*/
/* 6. home page right 
/*-------------------------------------------------------------------------------------------------------*/

.right-filter {
    background: #e4e4e4;
    padding: 20px 16px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h4.right-flt {
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

.right-filter .map {
    text-align: center;
    margin-bottom: 10px;
    height: 250px;
}

.right-filter .title {
    font-family: 'open_sansbold';
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

.right-filter h3 {
    color: #28be5d;
    font-size: 19px;
    text-transform: uppercase;
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'open_sansbold';
}

.search-btn {
    background: #00a8ea url(../images/search-icon-white.png) no-repeat 120px 10px;
    text-align: left;
    padding-left: 9px;
    border: 0;
    width: 145px;
    height: 40px;
    color: #fff;
    font-family: 'open_sansbold';
    font-size: 14.5px;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
}

.right-filter .form li {
    margin-bottom: 8px;
}

    .right-filter .form li div {
        color: #818181;
        font-size: 11px;
        line-height: 14px;
    }

.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 13px;
    color: #818181;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
}

.styled-select {
    width: 240px;
    height: 30px;
    overflow: hidden;
    background: url(../images/new_arrow.jpg) no-repeat right #fff;
}


/*-------------------------------------------------------------------------------------------------------*/
/* 7. footer
/*-------------------------------------------------------------------------------------------------------*/

.mid-bottom {
    background: #353535;
    width: 100%;
    float: left;
    margin-top: 29px;
    padding-top: 30px;
    padding-bottom: 0px;
}

h3.mid-btm {
    color: #ababab;
    font-size: 18px;
    font-family: 'open_sanslight';
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 25px 0;
}

.subscriptions {
    margin-top: 10px;
    float: left;
}

    .subscriptions .mag-img {
        margin-right: 25px;
        float: left;
        width: 223px;
    }

    .subscriptions .subs-text {
        float: left;
        width: 320px;
        color: #9a9999;
    }

        .subscriptions .subs-text .title {
            text-transform: uppercase;
            font-family: 'open_sansbold';
            font-size: 14px;
            margin-bottom: 15px;
        }

        .subscriptions .subs-text p {
            line-height: 17px;
        }

a.link-white {
    font-family: 'open_sanssemibold';
    cursor: pointer;
}

    a.link-white:hover {
        color: #fff;
    }

.subscribe {
    width: 80%;
}

    .subscribe li {
        float: left;
        background: url(../images/sep-blue.gif) no-repeat right 5px;
        padding: 0 10px 0 0;
        margin-right: 10px;
    }

        .subscribe li:last-child {
            background: none;
        }

        .subscribe li a {
            font-family: 'open_sanslight_italic';
            font-size: 12px;
        }

            .subscribe li a:hover {
                color: #fff;
            }

.magazine li {
    float: left;
    width: 103px;
    margin-right: 24px;
    margin-bottom: 23px;
}

    .magazine li:nth-child(3n) {
        margin-right: 0;
    }

    .magazine li img {
        width: 103px;
        height: 141px;
    }

footer {
    text-align: center;
}

.ft-text {
    font-size: 13px;
    font-family: 'open_sansbold';
    padding: 47px 15px 20px 15px;
    line-height: 17px;
    float: left;
    color: #959595;
}

.ft-link li {
    display: inline;
    background: url(../images/sep-blue-slant.gif) no-repeat right 6px;
    padding: 0 12px 0 5px;
    font-family: 'open_sansbold';
    font-size: 13px;
}

/*-------------------------------------------------------------------------------------------------------*/
/* 8. Listing page css
/*-------------------------------------------------------------------------------------------------------*/

.header-img {
    margin-bottom: 45px;
}

    .header-img .caption {
        position: absolute;
        margin-top: 50px;
        margin-left: 24px;
        padding: 22px;
        background: rgba(50,47,47,0.76);
        height: 228px;
        width: 440px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .header-img .caption h3 {
            color: #fff;
            font-size: 30px;
            font-family: 'bebas_neueregular';
            font-weight: normal;
            padding: 0;
            margin: 0 0 20px 0;
        }

        .header-img .caption p {
            color: #fff;
            line-height: 16px;
            margin-bottom: 25px;
        }

        .header-img .caption .link-btn {
            background: #28be5d;
            width: 185px;
            height: 47px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-family: 'open_sansbold';
            text-transform: uppercase;
        }

.listing-page {
    margin-bottom: 25px;
    float: left;
}

    .listing-page li {
        float: left;
        width: 204px;
        margin-right: 17px;
    }

        .listing-page li:nth-child(4n) {
            margin-right: 0;
        }

/*----------Right Menu--------------*/
.right-menu {
    background: #e4e4e4;
    padding: 24px 16px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 395px;
}

    .right-menu ul.menu {
        background: #00a8ea;
    }

        .right-menu ul.menu li {
            border-bottom: 1px solid #fff;
            padding: 12px 15px 12px 17px;
        }

            .right-menu ul.menu li a {
                color: #fff;
                font-size: 14px;
                font-family: 'open_sansbold';
                text-transform: uppercase;
            }

                .right-menu ul.menu li a:hover {
                    color: #000;
                }

            .right-menu ul.menu li.social {
                padding: 10px 15px 5px 17px;
                color: #fff;
                font-size: 14px;
                font-family: 'open_sansbold';
                text-transform: uppercase;
            }

                .right-menu ul.menu li.social div {
                    margin-right: 15px;
                    line-height: 26px;
                }

                .right-menu ul.menu li.social img {
                    margin-left: 7px;
                }

    .right-menu h3 {
        color: #28be5d;
        font-size: 19px;
        text-transform: uppercase;
        margin: 0 0 18px 0;
        padding: 0;
        font-family: 'open_sansbold';
    }

/*-------------------------------------------------------------------------------------------------------*/
/* 9. article search 
/*-------------------------------------------------------------------------------------------------------*/

.article-search li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 35px;
    margin-bottom: 40px;
    float: left;
}

    .article-search li .property-box {
        margin-left: 23px;
        float: left;
        width: 423px;
    }

        .article-search li .property-box.first {
            margin-left: 0px;
        }

        .article-search li .property-box .pro-img {
            margin-bottom: 30px;
        }

            .article-search li .property-box .pro-img img {
                width: 410px;
                height: 276px;
            }

        .article-search li .property-box h3 {
            text-transform: uppercase;
            font-family: 'open_sansbold';
            color: #00a8ea;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .article-search li .property-box p {
            line-height: 18px;
            margin-bottom: 0;
        }

/* --------------------Page Numbers -----------------*/

.paging {
    width: 100%;
    background: #e4e4e4;
    float: left;
    padding: 12px 20px 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.paging-top {
    width: 100%;
    background: #e4e4e4;
    float: left;
    padding: 12px 20px 10px 20px;
    margin-bottom: 30px;
}

.pages {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

    .pages a {
        color: #fff;
        display: block;
        float: left;
        padding: 0.4em 0.8em;
        margin-right: 0.1em;
        background: #00abe7;
    }

    .pages span {
        color: #fff;
        display: block;
        float: left;
        padding: 0.4em 0.8em;
        margin-right: 0.1em;
        background: transperant;
    }

        .pages span.current {
            font-weight: bold;
            background: #00abe7;
            color: #fff;
        }

    .pages a {
        text-decoration: none;
    }

        .pages a:hover {
            font-weight: normal;
        }

        .pages a.nextprev {
            font-weight: normal;
            background: #e4e4e4;
            color: #00abe7;
            font-size: 11px;
            line-height: 20px;
        }

    .pages span.nextprev {
        color: #666;
    }

    .pages span.nextprev {
        color: #999;
    }

    .pages .nextprev-next {
        float: right;
    }

.show-page {
    font-family: 'open_sanssemibold';
    line-height: 26px;
}

/* --------------------Page Numbers -----------------*/

.other_home {
    width: 100%;
    margin-top: 59px;
    background: #c7c7c7;
    float: left;
    padding: 26px 14px 36px 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .other_home h4 {
        color: #fff;
        font-family: 'open_sansbold';
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .other_home li {
        float: left;
        width: 179px;
        margin-right: 13px;
    }

        .other_home li:last-child {
            margin-right: 0;
        }

        .other_home li img {
            width: 179px;
            height: 102px;
        }

/* --------------------left column -----------------*/

.left-clmn {
    background: #e4e4e4;
    padding: 24px 17px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .left-clmn h4 {
        color: #868686;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 0 25px 0;
        padding: 0;
    }

.builders {
    text-align: center;
}

    .builders li {
        margin: 18px 0;
        padding: 0;
    }

        .builders li img {
            width: 213px;
            height: 107px;
        }


/* --------------------search result 2-----------------*/

.propery-list-page {
}

    .propery-list-page li {
        border-bottom: 9px solid #f0f0f0;
        margin-bottom: 38px;
        padding-bottom: 32px;
        float: left;
    }

    .propery-list-page li {
        margin-bottom: 18px;
    }

        .propery-list-page li .clmn-270 {
            width: 270px;
            float: left;
        }

        .propery-list-page li h1.property_name {
            color: #00a9eb;
            font-family: 'open_sansbold';
            text-transform: initial;
            font-size: 14px;
            margin-bottom: 12px;
        }

            .propery-list-page li h1.property_name span {
                color: #868686;
            }

        .propery-list-page li .home-img img {
            width: 270px;
            height: 275px;
        }

        .propery-list-page li .price {
            color: #28be5d;
            font-family: 'open_sansbold';
            font-size: 20.5px;
            text-transform: uppercase;
            text-align: right;
        }

        .propery-list-page li .builder-logo img {
            width: 156px;
            height: 75px;
        }

        .propery-list-page li .appartment {
            color: #868686;
            font-size: 11px;
            margin-top: -12px;
        }

            .propery-list-page li .appartment ul {
                margin-top: 7px;
            }

                .propery-list-page li .appartment ul li {
                    float: left;
                    margin-right: 8px;
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

        .propery-list-page li p {
            margin-top: 17px;
            margin-bottom: 17px;
        }

        .propery-list-page li .video {
            margin-bottom: 20px;
        }

a.save-btn {
    background: #28be5d url(../images/start-icon.png) no-repeat 10px center;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px 8px 35px;
}

    a.save-btn:hover {
        background: #00a9eb url(../images/start-icon.png) no-repeat 10px center;
    }

a.green-btn {
    background: #28be5d;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
}

    a.green-btn:hover {
        background: #00a9eb;
    }

/*-------------------------------------------------------------------------------------------------------*/
/* 10. detail page style
/*-------------------------------------------------------------------------------------------------------*/

.detail-page-main {
    margin-top: 30px;
}

.detail-page {
    margin-left: 0;
    margin-right: 0;
}

    .detail-page h3 {
        color: #00a9eb;
        font-size: 14px;
        font-family: 'open_sansbold';
        margin-top: 0;
        padding-bottom: 25px;
        margin-bottom: 0;
        text-transform: initial;
    }

    .detail-page p {
        line-height: 20px;
    }

.property-summery-main {
    margin-right: 0;
}

.property-summery {
    background: #efefef;
    float: left;
}

    .property-summery h5 {
        text-transform: uppercase;
        width: 100%;
        font-size: 12px;
        background: #c7c7c7;
        color: #fff;
        padding: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'open_sansregular';
        float: left;
    }

    .property-summery ul {
        padding: 15px;
        float: left;
        width: 100%;
    }

        .property-summery ul li {
            font-size: 13px;
            margin-bottom: 10px;
            line-height: 14px;
        }

            .property-summery ul li .area {
                width: 50%;
                float: left;
                line-height: 26px;
            }

            .property-summery ul li .size {
                width: 50%;
                float: right;
                line-height: 26px;
            }
/* --------------------directory list page -----------------*/
.directory-list-page {
}

    .directory-list-page li {
        border-bottom: 5px solid #f0f0f0;
        margin-bottom: 18px;
        float: left;
        padding-bottom: 18px;
    }

        .directory-list-page li h1.property_name {
            color: #00a9eb;
            font-family: 'open_sansbold';
            font-size: 14px;
            text-transform: initial;
            margin-bottom: 12px;
        }

            .directory-list-page li h1.property_name span {
                color: #868686;
            }

        .directory-list-page li img {
            width: 150px;
            height: 150px;
        }

        .directory-list-page li p {
            margin-top: 17px;
            margin-bottom: 17px;
        }
