﻿@model List<B101_1.Models.blogArticlesModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <!--facility nav being-->
    <div id="facility">
        <ul>
            @*<li><a href="#">Designs</a></li>
                <li><a href="#">Basins</a></li>
                <li><a href="#">Vanities</a></li>
                <li><a href="#">Baths and Spas</a></li>
                <li><a href="#">Toilets</a></li>
                <li><a href="#">Acessories</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Tiles and Flooring</a></li>
                <li><a href="#">Wallpaper</a></li>*@
        </ul>
    </div>
    <!--facility nav end-->
</div>
<div class="grid_9">
    <ul class="article-search">
        @if (Model.Count > 0)
        {

            int i = 1;
            foreach (B101_1.Models.blogArticlesModel blgart in @Model)
            {
                <li>
                    @if (i % 2 == 0)
                    {
                        <div class="property-box">
                            <div class="property-img pro-img">
                                <img src="~/Content/images/blog/@blgart.image" alt="" />
                            </div>
                            <h3><a href="~/View/Blog/@blgart.ba_id">@blgart.ba_title</a></h3>
                            <p>@blgart.ba_shortcontent</p>
                        </div>
                    }
                    else
                    {
                        <div class="property-box first">
                            <div class="property-img pro-img">
                                <img src="~/Content/images/blog/@blgart.image" alt="" />
                            </div>
                            <h3><a href="~/View/Blog/@blgart.ba_id">@blgart.ba_title</a></h3>
                            <p>@blgart.ba_shortcontent</p>
                        </div>
                    }

                </li>
                    i = i++;
            }
        }
        else
        {
            <li style="border:none">
                <strong> No Article Available in this Category </strong>
            </li>
        }
    </ul>
</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    <div class="right-menu m-b-26">
        <h3>Article category</h3>
        @*<ul class="menu">
                @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BlogcatageryRepo().Bindblgcatagery())
                {
                    <li><a href="~/Articles/@itm.datatext.ToLower()">@itm.datatext</a></li>
                }
            </ul>*@
        <div id="Accordion1" class="Accordion" tabindex="0">
            @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BlogcatageryRepo().Bindblgcatagery())
            {
                @*<li><a href="~/Articles/@itm.datatext.ToLower()">@itm.datatext</a></li>*@
                <div class="AccordionPanel">
                    <div class="AccordionPanelTab">@itm.datatext</div>
                    <div class="AccordionPanelContent">
                        <ul>
                            @foreach (B101_1.ViewModels.DataBindModel subitm in new B101_1.DataBaseRepo.BlogsubcatRepo().BindblgsubcatageryByParent(@itm.datavalue))
                            {
                                <li><a href="~/Articles/sub/@subitm.datatext.ToLower()">@subitm.datatext</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div><img src="images/plane.jpg" alt="" /></div>
</div>
<!--Middle right end-->
@section scripts
{
    <script src="~/Content/SpryAssets/SpryAccordion.js"></script>
    <script type="text/javascript">
        var Accordion1 = new Spry.Widget.Accordion("Accordion1");
    </script>
}