﻿@{
    ViewBag.Title = "DISPLAYHOMELOCATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<B101_1.Models.displayhomevillageModel> hmvlist = new B101_1.DataBaseRepo.DisplayHomeVillageRepo().ListDHV();
    //string[] members = { "The University of Western Australia,35 Stirling Highway,Crawley WA 6009,Perth, Australia", "2 Holt Street,Surry Hills,NSW 2010,Australia", "Level 5, 22 Harry Chan Avenue, Darwin NT 0800", "RSM Bird Cameron Building,103-105 Northbourne Avenue,Canberra,ACT 2601", "Level 8,121 King William Street,Adelaide,SA 5000", "Level 8,111 Bourke Street,Melbourne,VIC 3000" };
}
<div class="grid_12">
    <div id="facility">
    </div>
</div>
<div class="grid_6">
    <h3>Display Home Location</h3>
    <hr />
    <p style="text-align:justify">There are a number of display home villages in Perth where you can view display homes from more than one builder in one location.To make things easier for you we have created a map of Perth display home locations. These are generally found in new housing estates.</p>
    <p style="text-align:justify">Click on the red icon to view information about the location and if homes that are listed on this site are found in that display home village you can click through to the home details on this site and view floor plans and image galleries.</p>
    <p style="text-align:justify">Of course the purpose of this site is to help you save time viewing homes that may not suit your family's needs. The Perth Builders Directory search facility helps you to shortlist homes that you may want to look at. Use our advanced home search to find home designs that match your needs. IIf a display home is available for the home you are viewing the location will be referenced on the home details page. </p>
</div>
<div class="grid_6" style="border:1px solid black">
    <div id="map-canvas"></div>
</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(-33.884988, 151.20927600000005);

        function DisplayHome(name, address, id, latlang)
        {
            this.name = name;
            this.address = address;
            this.id = id;
            this.latlang = latlang;
        }

        function getlatlang()
        {
            var DisplayHomeArray = new Array();
            infowindow = new google.maps.InfoWindow();
            @foreach(B101_1.Models.displayhomevillageModel dhv in hmvlist)
            {
                @:{ var dhv = new DisplayHome(); dhv.address = "[@dhv.hvm_address]"; dhv.name = "@dhv.hvm_name"; dhv.id = "@dhv.hvm_id"; dhv.latlang = "@dhv.hvm_latlang"; DisplayHomeArray.push(dhv); }
                                    }

            var myLatlngCenter = new google.maps.LatLng(-25.363882, 131.044922);
            var mapOptions =
                {
                    zoom: 4,
                    center: myLatlngCenter
                }

            var geocoder = new google.maps.Geocoder();

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var infowindow = new google.maps.InfoWindow();

            for (var i = 0; i < DisplayHomeArray.length; i++)
            {
                var strarray = DisplayHomeArray[i].latlang.split(',');

                var lction = new google.maps.LatLng(strarray[0], strarray[1]);
                var ttl=DisplayHomeArray[i].name;
                var customdata=DisplayHomeArray[i].id;

                var marker = new google.maps.Marker(
                 {
                     position: lction,
                     map: map,
                     title: ttl,
                     customInfo: customdata
                 });
                google.maps.event.addListener(marker, 'click', function ()
                {
                    //window.location.href = "http://localhost:10874/View/DisplayHomeLocation/" + this.customInfo;
                    window.location.href = "http://ec2-54-191-21-5.us-west-2.compute.amazonaws.com/b101/View/DisplayHomeLocation/" + this.customInfo;
                });
            }
        }
        google.maps.event.addDomListener(window, 'load', getlatlang);
    </script>
}