﻿@model List<B101_1.Models.blogArticlesModel>
@{
    ViewBag.Title = "Index";
}
@*<div id="content">
        <section id="comments">
            <ul>
                @foreach (B101_1.Models.blogArticlesModel mdl in @Model)
                {
                    <li class="comment_odd">
                        <article>
                            <header>
                                <address>
                                    @mdl.ba_title
                                </address>
                            </header>
                            <section>
                                <p>@mdl.ba_shortcontent</p>
                            </section>
                        </article>
                        <a href="~/BlogArticle/View/@mdl.ba_id">ReadMore</a>
                    </li>
                }
            </ul>
        </section>
    </div>*@

<div class="grid_12">

    @*<div id="facility">
            <ul>
                <li><a href="#">Designs</a></li>
                <li><a href="#">Basins</a></li>
                <li><a href="#">Vanities</a></li>
                <li><a href="#">Baths and Spas</a></li>
                <li><a href="#">Toilets</a></li>
                <li><a href="#">Acessories</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Tiles and Flooring</a></li>
                <li><a href="#">Wallpaper</a></li>
            </ul>
        </div>*@
    &nbsp;
</div>
<!--Middle Left being-->
<div class="grid_9">
    <!--Slider being-->
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                @foreach (B101_1.ViewModels.SliderViewModel sld in new B101_1.DataBaseRepo.SliderRepo().GetSliders())
                {
                    <li>
                        <div class="slider_text">
                            search hundreds of home designs from leading builders that  to suit your budget and lifestyle
                        </div>
                        <img src="~/Content/images/slider/@sld.ImagePath" />
                    </li>
                }
            </ul>
        </div>
    </div>
    <!--Slider end-->
    <div class="home-listing">
        <ul>
            @foreach (B101_1.Models.blogArticlesModel mld in new B101_1.DataBaseRepo.BlogArticlesRepo().ReadCurrentArticles())
            {
                <li>
                    <div class="property-img">
                        <a class="link" href="~/View/Blog/@mld.ba_id">
                            <img src="~/Content/images/blog/@mld.image" alt="" />
                        </a>
                    </div>
                    <div class="property-disc">
                        <a class="link" href="~/View/Blog/@mld.ba_id">
                            <div class="title">@mld.ba_title</div>
                        </a>
                        <div class="text">@mld.ba_shortcontent</div>
                        @*<a class="link" href="~/View/Blog/@mld.ba_id">Read more</a>*@
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="home-service">
        <ul>
            <li>
                <a href="~/Articles/first home owner grants">
                    <div class="box-title">First Home Owner Grants</div>
                    <img src="~/Content/images/img5.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="~/Articles/financing your new home">
                    <div class="box-title">Financing Your New Home </div>
                    <img src="~/Content/images/img6.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="~/Articles/sustainable living">
                    <div class="box-title">Sustainable Living</div>
                    <img src="~/Content/images/img7.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="box-title">Land Estates</div>
                    <img src="~/Content/images/img8.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="~/Articles/building awards">
                    <div class="box-title">Building Awards</div>
                    <img src="~/Content/images/img9.jpg" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    @Html.Partial("~/Views/Shared/_Search.cshtml")
    <!--Map Pop Up end-->
    <div class="m-b-26">
        <img src="~/Content/images/adv1.jpg" alt="" />
    </div>
    <div>
        <img src="~/Content/images/adv2.jpg" alt="" />
    </div>
</div>
<!--Middle right end-->