﻿@{
    ViewBag.Title = "LAND";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<B101_1.Models.LandPropertyModel> landprop = new B101_1.DataBaseRepo.LandPropertyRepo().ListLP();
}
<div class="grid_12">
    <div id="facility">
    </div>
</div>
<div class="grid_6">
    <h3>Land Properties</h3>
    <hr />
    <p style="text-align:justify">There are a number of display home villages in Perth where you can view display homes from more than one builder in one location.To make things easier for you we have created a map of Perth display home locations. These are generally found in new housing estates.</p>
    <p style="text-align:justify">Click on the red icon to view information about the location and if homes that are listed on this site are found in that display home village you can click through to the home details on this site and view floor plans and image galleries.</p>
    <p style="text-align:justify">Of course the purpose of this site is to help you save time viewing homes that may not suit your family's needs. The Perth Builders Directory search facility helps you to shortlist homes that you may want to look at. Use our advanced home search to find home designs that match your needs. IIf a display home is available for the home you are viewing the location will be referenced on the home details page. </p>
</div>
<div class="grid_6" style="border:1px solid black">
    <div id="map-canvas"></div>
</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(-33.884988, 151.20927600000005);

        function LandProp(name, address, id, latlang)
        {
            this.name = name;
            this.address = address;
            this.id = id;
            this.latlang = latlang;
        }

        function getlatlang()
        {
            var LandArray = new Array();
            infowindow = new google.maps.InfoWindow();
            @foreach (B101_1.Models.LandPropertyModel lnd in landprop)
            {
                @:{ var lnp = new LandProp(); lnp.address = "[@lnd.lp_address]"; lnp.name = "@lnd.lp_name"; lnp.id = "@lnd.lp_id"; lnp.latlang = "@lnd.lp_latlang"; LandArray.push(lnp); }
                }

            var myLatlngCenter = new google.maps.LatLng(-25.363882, 131.044922);
            var mapOptions =
                {
                    zoom: 4,
                    center: myLatlngCenter
                }

            var geocoder = new google.maps.Geocoder();

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            for (var i = 0; i < LandArray.length; i++)
            {

                var strarray = LandArray[i].latlang.split(',')

                var lction = new google.maps.LatLng(strarray[0], strarray[1]);
                var ttl = LandArray[i].name;
                var customdata = LandArray[i].id;

                var marker = new google.maps.Marker(
                 {
                     position: lction,
                     map: map,
                     title: ttl,
                     customInfo: customdata
                 });
                google.maps.event.addListener(marker, 'click', function ()
                {
                    window.location.href = "http://localhost:10874/View/LandProperty/" + this.customInfo;
                    window.location.href = "http://ec2-54-191-21-5.us-west-2.compute.amazonaws.com/b101/View/LandProperty/" + this.customInfo;
                });
            }
        }
        google.maps.event.addDomListener(window, 'load', getlatlang);
    </script>
}