﻿<div class="grid_12">
    <div class="middle-form">
        <form>
            <ul>
                @if (MySession.Current.MSGCODE == "SUBSUCC")
                {
                    <li>
                        <p>
                            You have Successfully  Subscribed to our NewsLetter
                            <br /><br />
                            Please login to our email and confirm your Subscription.
                            <br /><br />
                            Thanks to Join Us..!!!
                        </p>
                    </li>
                }
                else if (MySession.Current.MSGCODE == "REGSUCC")
                {
                    <li>
                        <p>
                            Congratulations , You have successfully registerd with B101
                            <br /><br />
                            Please login to your email account to activate your account.
                            <br /><br />
                            Thanks ..!!!
                        </p>
                    </li>
                }
                else if (MySession.Current.MSGCODE == "REGBUILDSUCC")
                {
                    <li>
                        <p>
                            Congratulations , You have successfully registerd with B101
                            <br /><br />
                            When your account will be activated by ADMIN then you will get a mail on registerd email .
                            <br /><br />
                            Thanks ..!!!
                        </p>
                    </li>
                }
                else if (MySession.Current.MSGCODE == "USERNOTEXIST")
                {
                    <li>
                        <p>
                            Sorry this User is not exist in system
                            <br /><br />
                            Try to register new User From <a href="~/NewUser"> HERE</a>
                            <br /><br />
                            Thanks ..!!!
                        </p>
                    </li>
                }
                else if (MySession.Current.MSGCODE == "USERACTIVATED")
                {
                    <li>
                        <p>
                             Congratulations , You have successfully activated
                            <br /><br />
                            Please click <a href="~/Login">HERE</a> to login to your account
                            <br /><br />
                            Thanks ..!!!
                        </p>
                    </li>
                }
                else
                {
                    <li>
                        <p>
                            Opps ..!!,Sorry Some Unexpected error Occured .
                        </p>
                    </li>
                }
            </ul>
        </form>
    </div>
</div>