﻿@{
    ViewBag.Title = "NEW PROPERTY DEVELOPER";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<B101_1.Models.builderModel> builderlist = new B101_1.DataBaseRepo.BuilderRepo().ListDeveloper();
}
<div class="grid_12">
    <div id="facility">
    </div>
</div>
<div class="grid_9">
    <ul class="directory-list-page">
        @if (builderlist.Count > 0)
        {
            foreach (B101_1.Models.builderModel build in builderlist)
            {
                <li>
                    <div class="grid_2">
                        <img src="~/Content/images/builder/@build.bmheaderimage" />
                    </div>
                    <div class="grid_6">
                        <h1 class="property_name">@build.bm_name</h1>
                        <p>
                            @build.bm_shortdescription
                        </p>
                        <div class="fr">
                            <a href="~/View/Builder/@build.bm_id" class="green-btn">Details</a>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li style="border:none">
                <div class="grid_2">&nbsp;</div>
                <div class="grid_6">
                    <h3> No Builder Available To Display</h3>
                </div>
            </li>
        }
    </ul>
</div>
<div class="grid_3">
    @Html.Partial("~/Views/Shared/_Search.cshtml")
</div>