﻿@model B101_1.ViewModels.BlogViewModel
@{
    ViewBag.Title = "BLOG VIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <!--facility nav being-->
    <div id="facility">
        <ul>
            @*<li><a href="#">Designs</a></li>
                <li><a href="#">Basins</a></li>
                <li><a href="#">Vanities</a></li>
                <li><a href="#">Baths and Spas</a></li>
                <li><a href="#">Toilets</a></li>
                <li><a href="#">Acessories</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Tiles and Flooring</a></li>
                <li><a href="#">Wallpaper</a></li>*@
        </ul>
    </div>
    <!--facility nav end-->
</div>
<!--Middle Left being-->
<div class="grid_9">
    <!-- Start photosgallery-vertical -->
    <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    <li>
                        <a href="#" rel="nofollow" title="[link title]">
                            <img src="~/Content/images/blog/@Model.article.image" alt="[Alternative text]" />
                        </a>
                    </li>
                </ul>
            </div>
            @*<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
                <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>*@
        </div>
        <div class="sliderkit-panels">
            <div class="sliderkit-panel">
                <img src="~/Content/images/blog/@Model.article.image" alt="[Alternative text]" class="builderimg" />
            </div>
        </div>
    </div>
    <!-- End photosgallery-vertical -->
    <div class="detail-page-main">
        <div class="grid_6 detail-page">
            <h3>@Model.article.ba_title</h3>
            @Html.Raw(Model.article.ba_content)
        </div>
        <div class="grid_3 property-summery-main fr">
            <div class="property-summery m-b-26">
                <h5>Author</h5>
                <ul>
                    <li>
                        <div>@Model.article.UserName</div>
                    </li>
                </ul>
                <h5>Tags</h5>
                <ul>
                    @foreach (var tg in Model.selectedtags.Split(','))
                    {
                        <li>
                            <div>@tg.ToString()</div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @*<div class="blogcomment">
            <ul>
                @foreach(var c in @Model.comments)
                {
                    <li>
                        <strong>
                            From : @c.cmt_name<br />
                            Email : @c.cmt_email<br />
                        </strong>
                        <br />
                        @c.cmt_text
                    </li>
                }
            </ul>
        </div>*@
</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    <div class="right-menu m-b-26">
        <ul class="menu">
            <li class="social">
                <div class="fl">SHARE</div>
                <a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/google-plus.png" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" async data-pin-hover="true" src="http://assets.pinterest.com/js/pinit.js"></script>
}