﻿@model B101_1.Models.BuilderViewModel
@{
    ViewBag.Title = "VIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <!--facility nav being-->
    <div id="facility">
        <ul>
            @* <li><a href="#">Designs</a></li>
                <li><a href="#">Basins</a></li>
                <li><a href="#">Vanities</a></li>
                <li><a href="#">Baths and Spas</a></li>
                <li><a href="#">Toilets</a></li>
                <li><a href="#">Acessories</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Tiles and Flooring</a></li>
                <li><a href="#">Wallpaper</a></li>*@
        </ul>
    </div>
    <!--facility nav end-->
</div>
<!--Middle Left being-->
<div class="grid_9">
    <!-- Start photosgallery-vertical -->
    <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    @foreach (B101_1.ViewModels.ImageViewModel img in @Model.galleryimages)
                    {
                        <li>
                            <a href="#" rel="nofollow" title="[link title]">
                                <img src="~/Content/images/builder/@img.ImagePath" alt="[Alternative text]" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
            @*<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
                <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>*@
        </div>
        <div class="sliderkit-panels">
            @foreach (B101_1.ViewModels.ImageViewModel img in @Model.galleryimages)
            {
                <div class="sliderkit-panel">
                    <img src="~/Content/images/builder/@img.ImagePath" alt="[Alternative text]" />
                </div>
            }
        </div>
    </div>
    <!-- End photosgallery-vertical -->
    <div class="detail-page-main">
        <div class="grid_6 detail-page">
            <h3>@Model.buildermdl.bm_name</h3>
            @Html.Raw(Model.buildermdl.bm_description)
        </div>
        <div class="grid_3 property-summery-main fr">
            <div class="property-summery m-b-26">
                <h5>Builder Catagery</h5>
                <ul>
                    <li>
                        <div>@Model.buildermdl.bm_catagery</div>
                    </li>
                </ul>
                <h5>Builder Contact</h5>
                <ul>
                    <li>
                        <div>@Model.buildermdl.bm_phone</div>
                    </li>
                </ul>
                <h5>Builder Fax</h5>
                <ul>
                    <li>
                        <div>@(Model.buildermdl.bm_fax != null ? @Model.buildermdl.bm_fax : " not supplied ")</div>
                    </li>
                </ul>
                <h5>Builder Email</h5>
                <ul>
                    <li>
                        <div>@Model.buildermdl.bm_email</div>
                    </li>
                </ul>
                <h5>Address</h5>
                <ul>

                    <li>
                        @Model.buildermdl.bm_address
                    </li>
                </ul>
            </div>
            <div>
                @*<img src="~/Content/images/home-location-img.jpg" data-pin-no-hover="true" alt="" />*@
            </div>
        </div>
    </div>


</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    <div class="right-menu m-b-26">
        <ul class="menu">
            <li class="social">
                <div class="fl">SHARE</div>
                <a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/google-plus.png" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" async data-pin-hover="true" src="http://assets.pinterest.com/js/pinit.js"></script>
}