﻿@model B101_1.Models.LandPropertyModel
@{
    ViewBag.Title = "LandProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid_12">
    <!--facility nav being-->
    <div id="facility">
    </div>
    <!--facility nav end-->
</div>
<!--Middle Left being-->
<div class="grid_9">
    <!-- Start photosgallery-vertical -->
    <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    <li>
                        <a href="#" rel="nofollow" title="[link title]">
                            <img src="~/Content/images/other/@Model.ImageName" alt="[Alternative text]" />
                        </a>
                    </li>
                </ul>
            </div>
            @*<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
                <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>*@
        </div>
        <div class="sliderkit-panels">
            <div class="sliderkit-panel">
                <img src="~/Content/images/other/@Model.ImageName" alt="[Alternative text]" class="builderimg" />
            </div>
        </div>
    </div>
    <!-- End photosgallery-vertical -->
    <div class="detail-page-main">
        <div class="grid_6 detail-page">
            <h3>@Model.lp_name</h3>
            @Html.Raw(Model.lp_description)
        </div>
        <div class="grid_3 property-summery-main fr">
            <div class="property-summery m-b-26">
                <h5>Web Url</h5>
                <ul>
                    <li>
                        <div>
                            <a href="@Model.lp_externalurl" target="_blank">@Model.lp_externalurl</a>
                        </div>
                    </li>
                </ul>
                <h5>Address</h5>
                <ul>
                    <li>
                        @Model.lp_address
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
<!--Middle Left end-->
<!--Middle right being-->
<div class="grid_3">
    <div class="right-menu m-b-26">
        <ul class="menu">
            <li class="social">
                <div class="fl">SHARE</div>
                <a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a>
                <a href="#" target="_blank"><img src="~/Content/images/google-plus.png" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" async data-pin-hover="true" src="http://assets.pinterest.com/js/pinit.js"></script>
}