﻿@{
    ViewBag.Title = "ADMIN DASHBOARD";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (User.IsInRole("administrator"))
{
    <div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-asterisk"></i>
                    ATTRIBUTE MANAGEMENT
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="darkblue small">
                            <a href="~/Admin/Budget" rel="tooltip" data-placement="top" title="MANAGE BUILDING BUDGET">
                                <span class="count">
                                    <i class="icon-money"></i>
                                </span>
                                <span class="name">BUILDING BUDGET</span>
                            </a>
                        </li>
                        <li class="blue small">
                            <a href="~/Admin/Feature" rel="tooltip" data-placement="top" title="MANAGE FEATURES">
                                <span class="count">
                                    <i class="icon-th"></i>
                                </span>
                                <span class="name">FEATURES</span>
                            </a>
                        </li>
                        <li class="orange small">
                            <a href="~/Admin/Buildercatagery" rel="tooltip" data-placement="top" title="MANAGE CATAGERY">
                                <span class="count">
                                    <i class="glyphicon-list"></i>
                                </span>
                                <span class="name">BUILDER CATEGORIES</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="glyphicon-cargo"></i>
                    PROPERTIES
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="teal small">
                            <a href="~/Admin/Location" rel="tooltip" data-placement="top" title="MANAGE LOCATION">
                                <span class="count">
                                    <i class="glyphicon-google_maps"></i>
                                </span>
                                <span class="name">LOCATION</span>
                            </a>
                        </li>
                        <li class="green small">
                            <a href="~/Admin/Region" rel="tooltip" data-placement="top" title="MANAGE REGION">
                                <span class="count">
                                    <i class="icon-globe"></i>
                                </span>
                                <span class="name">REGIONS</span>
                            </a>
                        </li>
                        <li class="pink small">
                            <a href="~/Admin/DisplayHomeVillages" rel="tooltip" data-placement="top" title="MANAGE VILLAGES">
                                <span class="count">
                                    <i class="icon-home"></i><i class="icon-home"></i>
                                </span>
                                <span class="name">DISPLAY HOME LOCATIONS </span>
                            </a>
                        </li>
                        <li class="orange small">
                            <a href="~/Admin/LandProperty" rel="tooltip" data-placement="top" title="MANAGE LAND PROPERTIES">
                                <span class="count">
                                    <i class="icon-th"></i>
                                </span>
                                <center><span class="name">LAND PROPERTIES</span></center>
                            </a>
                        </li>
                        <li class="lime small">
                            <a href="~/Admin/Builder" rel="tooltip" data-placement="top" title="MANAGE BUILDERS">
                                <span class="count">
                                    <i class="glyphicon-building"></i>
                                </span>
                                <span class="name">BUILDERS</span>
                            </a>
                        </li>
                        <li class="darkblue small">
                            <a href="~/Admin/PrpHome" rel="tooltip" data-placement="top" title="MANAGE HOMES">
                                <span class="count">
                                    <i class="glyphicon-home"></i>
                                </span>
                                <span class="name">HOMES</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="glyphicon-file"></i>
                    CONTENT MANAGEMENT
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="pink small">
                            <a href="~/Admin/Slider" rel="tooltip" data-placement="top" title="MANAGE SLIDER IMAGES">
                                <span class="count">
                                    <i class="icon-camera-retro"></i>
                                </span>
                                <span class="name">SLIDER</span>
                            </a>
                        </li>
                        <li class="blue small">
                            <a href="~/Admin/PageContent" rel="tooltip" data-placement="top" title="MANAGE STATIC PAGES">
                                <span class="count">
                                    <i class="icon-file-alt"></i>
                                </span>
                                <span class="name">STATIC PAGES</span>
                            </a>
                        </li>
                        <li class="darkblue small">
                            <a href="~/Admin/Advertisement" rel="tooltip" data-placement="top" title="MANAGE ADVERTISMENTS">
                                <span class="count">
                                    <i class="glyphicon-rss"></i>
                                </span>
                                <span class="name">ADVERTISEMENT</span>
                            </a>
                        </li>
                        <li class="grey-4 small">
                            <a href="~/Admin/BlogArticle" rel="tooltip" data-placement="top" title="MANAGE BLOG ARTICLES">
                                <span class="count">
                                    <i class="glyphicon-blog"></i>
                                </span>
                                <span class="name">BLOG ARTICLES</span>
                            </a>
                        </li>
                        <li class="lime small">
                            <a href="~/Admin/AdditionalContent" rel="tooltip" data-placement="top" title="MANAGE ADDITIONAL CONTENT">
                                <span class="count">
                                    <i class="glyphicon-text_resize"></i>
                                </span>
                                <span class="name">ADDITIONAL CONTENT</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-cogs"></i>
                    HOUSE KEEPING
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="blue small">
                            <a href="~/Admin/User" rel="tooltip" data-placement="top" title="MANAGE USERS">
                                <span class="count">
                                    <i class="icon-group"></i>
                                </span>
                                <span class="name">USERS</span>
                            </a>
                        </li>
                        <li class="darkblue small">
                            <a href="~/Admin/Comment" rel="tooltip" data-placement="top" title="MANAGE BLOG COMMENTS">
                                <span class="count">
                                    <i class="glyphicon-comments"></i>
                                </span>
                                <span class="name">BLOG COMMENTS</span>
                            </a>
                        </li>
                        <li class="green small">
                            <a href="~/Admin/BlogCatagery" rel="tooltip" data-placement="top" title="MANAGE ARTICALES CATAGERY">
                                <span class="count">
                                    <i class="icon-list"></i>
                                </span>
                                <span class="name">ARTICLE CATEGORY</span>
                            </a>
                        </li>
                        <li class="magenta small">
                            <a href="~/Admin/AdvSlot" rel="tooltip" data-placement="top" title="MANAGE ADVERTISEMENT SLOTS">
                                <span class="count">
                                    <i class="glyphicon-paperclip"></i>
                                </span>
                                <span class="name">ADVERTISEMENT SLOT</span>
                            </a>
                        </li>
                        <li class="orange small">
                            <a href="~/Admin/EmailTemplate" rel="tooltip" data-placement="top" title="MANAGE EMAIL TEMPLATE">
                                <span class="count">
                                    <i class="glyphicon-e-mail"></i>
                                </span>
                                <span class="name">EMAIL TEMPLATE</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
    if (!Convert.ToBoolean(ViewBag.ispc))
    {
        <div class="row-fluid">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>Please complete your profile to active your data on site </strong>
            </div>
        </div>
    }
    <div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="glyphicon-cargo"></i>
                    PROPERTIES
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="darkblue small">
                            <a href="~/Admin/PrpHome" rel="tooltip" data-placement="top" title="MANAGE HOMES">
                                <span class="count">
                                    <i class="glyphicon-home"></i>
                                </span>
                                <span class="name">HOMES</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row-fluid">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-cogs"></i>
                    HOUSE KEEPING
                </h3>
                <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
            </div>
            <div class="box-content" style="display:block;">
                <div class="span12">
                    <ul class="tiles">
                        <li class="orange small">
                            <a href="#" rel="tooltip" data-placement="top" title="SETTINGS">
                                <span class="count">
                                    <i class="glyphicon-cogwheels"></i>
                                </span>
                                <span class="name">SETTINGS</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    @section leftpan
    {
        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
            </div>
            <ul class="subnav-menu">
                <li>
                    <a href="~/Admin/Builder/MyProfile">
                        <button class="btn btn-primary">
                            <i class="icon-external-link"></i> My Profile
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    }
}