﻿@{
    ViewBag.Title = "PRODUCT - DASHBOARD";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-home"></i>
            Product Home
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <ul class="tiles">
            <li class="magenta long">
                <a href="~/Product/Attribute" rel="tooltip" data-placement="top" title="Manage Product Attributes">
                    <span class="count">
                        <i class="icon-reorder"></i>
                    </span>
                    <span class="name">ATTRIBUTES</span>
                </a>
            </li>
            <li class="darkblue long">
                <a href="~/Product/Catagery" rel="tooltip" data-placement="top" title="Manage Product Catagery">
                    <span class="count">
                        <i class="icon-align-center"></i>
                    </span>
                    <span class="name">CATAGERY</span>
                </a>
            </li>
            <li class="teal long">
                <a href="~/Product/Item" rel="tooltip" data-placement="top" title="Manage Product Items">
                    <span class="count">
                        <i class="glyphicon-more_items"></i>
                    </span>
                    <span class="name">ITEMS</span>
                </a>
            </li>
        </ul>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Product/Attribute">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Attribute Manager
                    </button>
                </a>
            </li>

            <li>
                <a href="~/Product/Catagery">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Catagery Manager
                    </button>
                </a>
            </li>
        </ul>
    </div>
}