﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>B101 ADMINISTRATOR AREA</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/css/bootstrap-responsive.min.css">
    <!-- icheck -->
    <link rel="stylesheet" href="~/css/plugins/icheck/all.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/css/themes.css">

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Nice Scroll -->
    <script src="~/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- Validation -->
    <script src="~/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/js/plugins/validation/additional-methods.min.js"></script>
    <!-- icheck -->
    <script src="~/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/eakroko.js"></script>
    <!--[if lte IE 9]>
        <script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
        <script>
            $(document).ready(function() {
                $('input, textarea').placeholder();
            });
        </script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />
</head>
<body class='login theme-grey-3'>
    <div class="wrapper">
        <h1>
            <a href="javascript:void(0)">
                <img src="~/img/logo1.png" alt="" class='retina-ready'>
            </a>
        </h1>
        <div class="login-body">
            @if (MySession.Current.ErrorMessage != string.Empty)
            {

                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                    <strong> @MySession.Current.ErrorMessage </strong>
                </div>
                MySession.Current.ErrorMessage = string.Empty;
            }
            <h2>FORGOT PASSWORD</h2>
            <form method='post' class='form-validate' id="test" action="Account/Forgot">
                <div class="control-group">
                    <div class="email controls">
                        <input type="text" name='email' placeholder="enter your email address" class='input-block-level' data-rule-required="true">
                    </div>
                </div>
                <div class="submit">
                    <button type="submit" value="Send my Password" class='btn btn-grey'><i class="icon-check"></i> Send My Password</button>
                </div>
            </form>
            <div class="forget">
                <a href="~/Admin"><span>Back to Login</span></a>
            </div>
        </div>
    </div>
</body>
</html>
