﻿@model B101_1.Models.displayhomevillageModel
@{
    ViewBag.Title = "EDIT - DISPLAY  HOME VILLAGE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Manage Display Home Village
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Display Home Village Edit
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="hvm_id" value="@Model.hvm_id" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="hvm_name" data-rule-required="true" placeholder="village name" value="@Model.hvm_name" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Image</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                    @if (Model.ImageName == string.Empty)
                                    {
                                        <img src="~/img/no-image-icon.jpg" style="width: 150px; height: 150px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/other/@Model.ImageName" />
                                        <input type="hidden" name="ImageName" value="@Model.ImageName" />
                                        <input type="hidden" name="hvm_image" value="@Model.hvm_image" />
                                    }
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 150px; height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">@(Model.ImageName == string.Empty ? "Select Image" : "Change Image")</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" />
                                    </span>
                                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span class="help-block"><strong>Size : 150px x 150px</strong></span>
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="span6">
                            <label for="textfield" class="control-label">Address</label>
                            <div class="controls">
                                <textarea name="hvm_address" class="input-xlarge" id="hvmaddress" rows="3" data-rule-required="true" onblur="setlatlang()">@Model.hvm_address</textarea>
                            </div>
                            <input type="hidden" name="hvm_latlang" id="hvmlatlang" value="@Model.hvm_latlang" />
                            <label for="textfield" class="control-label">External Url</label>
                            <div class="controls">
                                <input type="text" name="hvm_externalurl" placeholder="external url" value="@Model.hvm_externalurl" data-rule-url="true" class="input-xlarge">
                            </div>
                            <label for="maxlengthfield" class="control-label">Short Description</label>
                            <div class="controls">
                                <textarea name="hvm_shortdescription" class="input-xlarge" rows="4" id="maxlengthfield" data-rule-maxlength="500" data-rule-required="true">@Model.hvm_shortdescription</textarea>
                            </div>
                        </div>
                        <div class="span6">
                            <div id="map-canvas" style="min-height:250px;background-color:ActiveBorder;width:250px;border:1px solid black"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="hvm_description" class='ckeditor span12' rows="2" data-rule-required="true">@Model.hvm_description</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Page Title</label>
                        <div class="controls">
                            <input type="text" name="hvm_title" placeholder="page title" value="@Model.hvm_title" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta KeyWords</label>
                        <div class="controls">
                            <textarea name="hvm_metakey" class="input-xlarge" rows="2">@Model.hvm_metakey</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Meta Description</label>
                        <div class="controls">
                            <textarea name="hvm_meatdescription" class="input-xlarge" rows="4">@Model.hvm_meatdescription</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="checkbox" id="c6" name="hvm_status" value="true" class='icheck-me' data-skin="square" data-color="blue" @(Model.hvm_status == true ? "checked" : "")>
                                    <label class='inline' for="c6">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Update</button>
                        <a href="~/Admin/DisplayHomeVillages" class="btn btn-cancle"><i class="glyphicon-circle_remove"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/DisplayHomeVillages">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To DHV
                    </button>
                </a>
            </li>
        </ul>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">

        function setlatlang()
        {
            var adress = $("#hvmaddress").val();
            var lction;
            var geocoder = new google.maps.Geocoder();

            var myLatlngCenter = new google.maps.LatLng(-25.363882, 131.044922);
            var mapOptions =
                {
                    zoom: 3,
                    center: myLatlngCenter
                }

            var geocoder = new google.maps.Geocoder();

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


            geocoder.geocode({ 'address': adress }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    lction = results[0].geometry.location;
                    $("#hvmlatlang").val(lction);
                    alert(lction);
                    var marker = new google.maps.Marker(
                         {
                             position: lction,
                             map: map,
                             title: "Address",
                         });
                }
                else {
                    //alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }
    </script>
}