﻿@model List<B101_1.Models.displayhomevillageModel>
@{
    ViewBag.Title = "DISPLAY HOME VILLAGE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Display Home Village
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Village List
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-invoice dataTable table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%">Display</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th style="width:25%;text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (B101_1.Models.displayhomevillageModel vlg in @Model)
                        {
                            <tr>
                                <td style="width:10%;">
                                    @if (vlg.hvm_status == true)
                                    {
                                       <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                       </div>
                                    }
                                    else
                                    {
                                        <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square">
                                        </div>
                                    }
                                </td>
                                <td>@vlg.hvm_name</td>
                                <td>@vlg.hvm_address</td>
                                <td class="qty">
                                    <a href="~/Admin/DisplayHomeVillages/Edit/@vlg.hvm_id" class="btn btn-primary" rel="tooltip" data-placement="top" title="EDIT"><i class="icon-edit"></i></a>
                                    <a href="~/Admin/DisplayHomeVillages/Delete/@vlg.hvm_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="~/Admin/DisplayHomeVillages/Add">
                    <button class="btn btn-primary">
                        <i class="icon-plus"></i> Add New DHV
                    </button>
                </a>
            </li>
        </ul>
    </div>
}