﻿@model List<B101_1.Models.budgetModel>
@{
    ViewBag.Title = "BUDGET MASTER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Budget Master
        </h3>
    </div>
</div>
@if (MySession.Current.ErrorMessage != string.Empty)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong> @MySession.Current.ErrorMessage </strong>
    </div>
    MySession.Current.ErrorMessage = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Budget
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-invoice table-bordered">
                    <thead>
                        <tr>
                            <th>Display</th>
                            <th>Budget</th>
                            <th style="width:15%;text-align:center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (B101_1.Models.budgetModel bdg in @Model)
                            {
                                <tr>
                                    <td class="qty">
                                        @if (bdg.bm_status)
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square" checked>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="check">
                                                <input type="checkbox" class='icheck-me' data-skin="square">
                                            </div>
                                        }
                                    </td>
                                    <td>$@bdg.bm_frmamnt - $@bdg.bm_toamnt</td>
                                    <td style="text-align:center" class="qty">
                                        <a href="~/Admin/Budget/Delete/@bdg.bm_id" class="btn btn-red" rel="tooltip" data-placement="top" title="DELETE"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Budget Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" action="~/Admin/Budget/Save" class='form-horizontal form-bordered form-validate' id="bb">
                    <div class="control-group">
                        <label for="textfield" class="control-label">From Amount</label>
                        <div class="controls">
                            <input type="text" name="bm_frmamnt" data-rule-required="true" data-rule-number="true" placeholder="budget from amount" class="input-large">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">To Amount</label>
                        <div class="controls">
                            <input type="text" name="bm_toamnt" data-rule-number="true" placeholder="budget to a,ount" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>