﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Profile Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.ErrorMessage != string.Empty)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong> @MySession.Current.ErrorMessage </strong>
            </div>
            MySession.Current.ErrorMessage = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-exclamation-sign"></i>
                    Change Password
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-bordered'>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Current Password</label>
                        <div class="controls">
                            <input type="password" name="oldpass" class="input-large" placeholder="your curent password" data-rule-required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">New Password</label>
                        <div class="controls">
                            <input type="password" name="newpass" id="pwfield" placeholder="your new password" class="input-large" data-rule-required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Re Enter Password</label>
                        <div class="controls">
                            <input type="password" name="newpassre" class="input-large" data-rule-required="true" placeholder="re-enter new password" data-rule-equalto="#pwfield">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i> Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section leftpan
{
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                @*<a href="~/Admin/Slider">
                    <button class="btn btn-primary">
                        <i class="icon-share-alt"></i> Back To Sliders
                    </button>
                </a>*@
            </li>
        </ul>
    </div>
}