﻿@{
    ViewBag.Title = "ExternalLoginCallback";
}
<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>USER NAME</h4>
                        <input type="text" class="styled-input" name="username" placeholder="user name" value="@(ViewBag.fbemail)" readonly="readonly" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>PASSWORD</h4>
                        <input type="password" class="styled-input" name="password" placeholder="password" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>RETYPE PASSWORD</h4>
                        <input type="password" class="styled-input" name="Repassword" placeholder="re enter password" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="log me in" />
                    </div>
                </li>

            </ul>
        </form>
    </div>
</div>