﻿<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>USER NAME</h4>
                        <input type="text" class="styled-input" name="email" placeholder="your registered email address" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="send me my password" />
                    </div>
                </li>
                <li>
                    <br />
                    <div class="two">
                        <h4><a href="~/Login">BACK TO LOGIN</a></h4>
                    </div>
                    <div>&nbsp;</div>
                </li>
            </ul>
        </form>
    </div>
</div>