﻿@using Microsoft.Web.WebPages.OAuth;
@model ICollection<AuthenticationClientData>
<div class="grid_12">
    <div class="middle-form">
            <div>
                @using (Html.BeginForm("ExternalLogin", "Account"))
                {
                    <div>
                        <fieldset>
                            <div style="margin: 10px auto;">
                                <input type="submit" value="Login With Facebook" class="styled-button" />
                            </div>
                        </fieldset>
                    </div>
                }
        </div>
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>USER NAME</h4>
                        <input type="text" class="styled-input" name="username" placeholder="user name" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>PASSWORD</h4>
                        <input type="password" class="styled-input" name="password" placeholder="password" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="log me in" />
                    </div>
                </li>
                <li>
                    <br />
                    <div class="two">
                        <h4><a href="~/Forgot">FORGOT YOUR PASSWORD</a> </h4>
                    </div>
                    <div>
                        @*<h4><a href="javascript:void(0);" id="signup">SIGNUP NEW ACCOUNT</a> </h4>*@
                        &nbsp;
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>