﻿@{
    ViewBag.Title = "NewBuilder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>Select Catagory</h4>
                        <select name="bm_catagery" class="styled-input" id="Category">
                            <option></option>
                            @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BuilderCatRepo().BindParentCatagery())
                            {
                                <option value="@itm.datavalue" @(Convert.ToInt64(Request["hidden"]) == itm.datavalue ? "selected" : "")>
                                    @itm.datatext
                                </option>
                            }
                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Select Sub Catagory (If applicable)</h4>
                        <select name="bm_subcatagery" class="styled-input">
                            <option value=""> </option>
                            @if (ViewBag.subcatagery != null)
                            {
                                foreach (B101_1.ViewModels.DataBindModel itm in ViewBag.subcatagery)
                                {
                                    <option value="@itm.datavalue">
                                        @itm.datatext
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Builder Name</h4>
                        <input type="text" class="styled-input" name="UserName" placeholder="enter builder name" value="@Request["UserName"]" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>PASSWORD</h4>
                        <input type="password" class="styled-input" name="Password" placeholder="enter password" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>EMAIL </h4>
                        <input type="text" class="styled-input" name="bm_email" placeholder="enter your email" value="@Request["bm_email"]" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Builder Address</h4>
                        <textarea class="styled-input" name="bm_address" placeholder="enter builder address" style="height:80px;">@Request["bm_address"]</textarea>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Builder Phone</h4>
                        <input type="text" class="styled-input" name="bm_phone" placeholder="enter builder phone" value="@Request["bm_phone"]" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Builder Fax</h4>
                        <input type="text" class="styled-input" name="bm_fax" placeholder="enter builder fax" value="@Request["bm_fax"]" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Builder WebSites</h4>
                        <input type="text" class="styled-input" name="bm_website" placeholder="enter builder site" value="@Request["bm_website"]" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="register me" />
                    </div>
                </li>
                <li>
                    <br />
                    <div class="two">
                        <h4><a href="~/Admin">GO TO LOGIN</a> </h4>
                    </div>
                    <div>&nbsp;</div>
                </li>
            </ul>
        </form>
    </div>
</div>
<form action="NewBuilder" id="getrecord">
    <input type="hidden" name="hidden" id="hiddeen" />
</form>
@section scripts
{
    <script type="text/javascript">
        $("#Category").change(function () {
            $("#hiddeen").val($("#Category").val());
            $("#getrecord").submit();
        });
    </script>
}