﻿<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>EMAIL</h4>
                        <input type="text" class="styled-input" name="UserName" placeholder="enter your email" value="@Request["UserName"]"/>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>PASSWORD</h4>
                        <input type="password" class="styled-input" name="Password" placeholder="enter password" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>RETYPE PASSWORD</h4>
                        <input type="password" class="styled-input" name="Repassword" placeholder="re enter password" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="register me" />
                    </div>
                </li>
                <li>
                    <br />
                    <div class="two">
                        <h4><a href="~/Login">GO TO LOGIN</a> </h4>
                    </div>
                    <div>&nbsp;</div>
                </li>
            </ul>
        </form>
    </div>
</div>