﻿@{
    ViewBag.Title = "REGISTER NEW BUILDER";
}
<div id="content">
    <form method="post" action="SignUp">
        <table style="width:900px" align="center" border="1">

            <tr>
                <td align="right">Select Catagery</td>
                <td>
                    <select name="bm_catagery" id="catagery">
                        <option value=""> </option>
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.BuilderCatRepo().BindParentCatagery())
                        {
                            if (Request["hidden"] != null)
                            {
                                <option value="@itm.datavalue" @( Request["hidden"].ToString() == itm.datavalue.ToString() ? "selected" : "")>
                                    @itm.datatext
                                </option>
                            }
                            else
                            {
                                <option value="@itm.datavalue">
                                    @itm.datatext
                                </option>
                            }
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td align="right">Sub Catagery</td>
                <td>
                    <select name="bm_subcatagery" id="subcatagery">
                        @if (ViewBag.subcatagery != null)
                        {
                            foreach (B101_1.ViewModels.DataBindModel itm in ViewBag.subcatagery)
                            {
                                <option value="@itm.datavalue">
                                    @itm.datatext
                                </option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Select Region</td>
                <td>
                    <select name="bm_region" id="subcatagery">
                        <option value="0"> -- SELECT REGION -- </option>
                        @foreach (B101_1.ViewModels.DataBindModel itm in new B101_1.DataBaseRepo.RegionRepo().GetRegion())
                        {
                            <option value="@itm.datavalue">
                                @itm.datatext
                            </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Name</td>
                <td>
                    <input type="text" name="bm_name" value="@Request["bm_name"]" />
                </td>
            </tr>
            <tr>
                <td align="right">Address</td>
                <td>
                    <textarea name="bm_address" rows="4" style="width:170px;">@Request["bm_address"]</textarea>
                </td>
            </tr>
            <tr>
                <td align="right">Phone</td>
                <td>
                    <input type="text" name="bm_phone" value="@Request["bm_phone"]" />
                </td>
            </tr>
            <tr>
                <td align="right">Fax</td>
                <td>
                    <input type="text" name="bm_fax" value="@Request["bm_fax"]" />
                </td>
            </tr>
            <tr>
                <td align="right">Email</td>
                <td>
                    <input type="text" name="bm_email" value="@Request["bm_email"]" />
                </td>
            </tr>
            <tr>
                <td align="right">Web Site</td>
                <td>
                    <input type="text" name="bm_website" value="@Request["bm_website"]" />
                </td>
            </tr>
            <tr>
                <td align="right">User Name</td>
                <td>
                    <input type="text" name="UserName" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">Password</td>
                <td>
                    <input type="password" name="Password" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Sign Up" />
                    @if (ViewData["message"] != null)
                    {
                        ViewData["message"].ToString();
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="~/">Back To Home</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<form action="SignUp" id="subcatfrm">
    <input type="hidden" id="hidden" name="hidden" />
</form>

@section scripts
{
    <script type="text/javascript">
        $("#catagery").change(function () {
            var value = $("#catagery").val();
            $("#hidden").val(value);
            $("#subcatfrm").submit();
        });
    </script>
}