﻿@{
    ViewBag.Title = "UserChangePassword";
}
<div class="grid_12">
    <div class="middle-form">
        <form method="post">
            <ul>
                @if (MySession.Current.ErrorMessage != string.Empty)
                {
                    <li>
                        <div>
                            <h4 class="error">@MySession.Current.ErrorMessage</h4>
                        </div>
                    </li>
                    MySession.Current.ErrorMessage = string.Empty;
                }
                <li>
                    <div>
                        <h4>OLD PASSWORD</h4>
                        <input type="password" class="styled-input" name="oldpass" placeholder="Old password"/>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>NEW PASSWORD</h4>
                        <input type="password" class="styled-input" name="newpass" placeholder="Atleast 6 character" />
                    </div>
                </li>
                <li>
                    <div>
                        <h4>RETYPE NEW PASSWORD</h4>
                        <input type="password" class="styled-input" name="newpassre" placeholder="Atleast 6 character" />
                    </div>
                </li>
                <li>
                    <hr />
                    <div>
                        <input type="submit" class="styled-button" value="Submit" />
                    </div>
                </li>
                <li>
                    <br />
                    <div class="two">
                        <h4><a href="~/">BACK TO MAIN</a></h4>
                    </div>
                    <br />
                </li>

            </ul>
        </form>
    </div>
</div>
